@import "node_modules/bootstrap-scss/bootstrap.scss";
@import "blocks/variables.scss";
@import "blocks/mixins.scss";
@import "blocks/normalize.scss";
@import "blocks/sprite-png.scss";
@import "blocks/fonts.scss";

// PAGE COMPONENTS
@import "blocks/header.scss";
@import "blocks/index.scss";
@import "blocks/footer.scss";
@import "blocks/blog.scss";
@import "blocks/faq.scss";
@import "blocks/services.scss";
@import "blocks/icons.scss";
@import "blocks/login.scss";
@import "blocks/user_date.scss";
@import "blocks/verification.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.icon {
	display: inline-block;
}

.icon-chrome {
	@include sprite($chrome);
}
.icon-placeholder {
	@include sprite($placeholder);
}

body{
	width: 100%;
	overflow-x: hidden;
}
.container {
	max-width: 72% !important;
  
	@include r(1600) {
	  max-width: 90% !important;
	  @include r(1200) {
		max-width: 100% !important;
	  }
	}
	}