<footer id="footer">
    <div class="top">
        <div class="content container">
            <nav class="row align-items-center">
                <div class="logo col-md-2">
                    <a href="/">
                      <img loading="lazy" src="./img/logo.png" alt="logo">
                    </a>
                </div>
                <ul class="col-md-5  d-flex align-items-center navs">
                  <li class="list-unstyled"><a href="../services.html" class="text-white text-uppercase text-decoration-none">Bizning xizmatlar</a></li>
                  <li class="list-unstyled"><a href="../blog.html" class="text-white text-uppercase text-decoration-none">Blog</a></li>
                    <li class="list-unstyled"><a href="../faq.html" class="text-white text-uppercase text-decoration-none">Biz haqimizda</a></li>
                </ul>
                <div class="col-md-3 ml-auto d-flex align-items-center payment justify-content-end">
                  <div><img loading="lazy"  src="./img/money.png" alt="payme"></div>

                  <div><img loading="lazy"  src="./img/mastercard.png" alt="payme"></div>

                  <div><img loading="lazy"  src="./img/qiwi.png" alt="payme"></div>

                  <div><img loading="lazy"  src="./img/visa.png" alt="payme"></div>

                    <div><img loading="lazy"  src="./img/payme.png" alt="payme"></div>
                    <div>
                        <img loading="lazy"  src="./img/lava.png" alt="payme">
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="bottom container d-flex align-items-center justify-content-between">
        <div>
            <p>©2023 Bekko Media</p>
        </div>
        <div class="d-flex align-items-center">
            <p>Developed by</p>
            <img loading="lazy" src="./img/simplex.png" alt="simplex">
            <p><a href="https://simplex.uz">Simplex ITC</a></p>
        </div>
    </div>
</footer>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/dynamic-marquee@2"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script> 
try {
  // Aos initiliziation
AOS.init();
//   splitting
Splitting();
// 
    const can = document.querySelector(".youtube");
const randomX = random(10, 20);
const randomY = random(20, 30);
const randomDelay = random(0, 1);
const randomTime = random(3, 5);
const randomTime2 = random(5, 10);
const randomAngle = random(8, 12);
TweenLite.set(can, {
  x: randomX(-1),
  y: randomX(1),
  rotation: randomAngle(-1)
});
if(document.contains(document.querySelector(".youtube"))) {
  moveX(can, 1);
moveY(can, -1);
rotate(can, 1);
}
function rotate(target, direction) {
  
  TweenLite.to(target, randomTime2(), {
    rotation: randomAngle(direction),
    // delay: randomDelay(),
    ease: Sine.easeInOut,
    onComplete: rotate,
    onCompleteParams: [target, direction * -1]
  });
}
function moveX(target, direction) {
  TweenLite.to(target, randomTime(), {
    x: randomX(direction),
    ease: Sine.easeInOut,
    onComplete: moveX,
    onCompleteParams: [target, direction * -1]
  });
}
function moveY(target, direction) {
  TweenLite.to(target, randomTime(), {
    y: randomY(direction),
    ease: Sine.easeInOut,
    onComplete: moveY,
    onCompleteParams: [target, direction * -1]
  });
}
function random(min, max) {
  const delta = max - min;
  return (direction = 1) => (min + delta * Math.random()) * direction;
}
//animate 2
const floatAnimation = () => {
         const tlCan = new TimelineMax({repeat:-1});
         /*Can Animation*/
        tlCan
            //move top left
        .to('.tiktok', 3, { y:'-=30', x:'+=20',  rotation:'-=5', ease:Power1.easeInOut})
        
            //move down right
        .to('.tiktok', 2, { y:'+=30', x:'-=20', rotation:'-=5', ease:Power1.easeInOut})
        
        
        .to('.tiktok', 3, { y:'-=20',  rotation:'+=5', ease:Power1.easeInOut})
        
        .to('.tiktok', 3, { y:'+=20',  rotation:'+=5', ease:Power1.easeInOut})
        .to('.tiktok', 3, { y:'-=50', ease:Power1.easeInOut})
        .to('.tiktok', 3, { y:'+=50', ease:Power1.easeInOut})
        .to('.tiktok', 3, { y:'-=30', ease:Power1.easeInOut})
        .to('.tiktok', 3, { y:'+=30', ease:Power1.easeInOut})
        .to('.tiktok', 2, { y:'-=30', ease:Power1.easeInOut})
        .to('.tiktok', 2, { y:'+=30', ease:Power1.easeInOut})
      TweenLite.to(tlCan, 27, {ease:Power1.easeInOut})
    }
if(document.contains(document.querySelector(".tiktok"))) {
  floatAnimation();
}
    // animate 2

// animate 3 start
const can2 = document.querySelector(".smm_provider");
  TweenLite.set(can2, {
  x: randomX(-1),
  y: randomX(1),
  rotation: randomAngle(-1)
});
if(document.contains(document.querySelector(".smm_provider")))  {
  moveX(can2, 1);
moveY(can2, -1);
rotate(can2, 1);
}
// animate 3 end

// how_work cards animation
function getRandomNumber(min, max) {
  return Math.random() * (max - min) + min;
}
try {
  const observer2 = new IntersectionObserver(function(entries){
    const element =  document.querySelector(".how_work_cards");
    entries.forEach(entry=>{
        if(entry.isIntersecting) {
                setTimeout(() => {
          element.style.visibility = "visible"
          document.querySelector("#how_work .head-title").style.visibility = "visible"
                  document.querySelector("#how_work").classList.add("onobserved")
                    gsap.fromTo(document.querySelector(".card1"), {x : 400, opacity : 0}, {x : 0,opacity : 1, duration : 0.8});
gsap.fromTo(document.querySelector(".card2"), {x : -400, opacity : 0}, {x : 0,opacity : 1, duration : 0.8});
gsap.fromTo(document.querySelector(".card3"), {x : 400, opacity : 0}, {x : 0,opacity : 1, duration : 0.8});
gsap.fromTo(document.querySelector(".card4"), {x : -400, opacity : 0}, {x : 0,opacity : 1, duration : 0.8});
observer2.unobserve(document.querySelector(".how_work_cards"))
                }, 350);
        }
    })
});
if(document.contains(document.querySelector(".how_work_cards"))) {
observer2.observe(document.querySelector(".how_work_cards"))
  
}
} catch(e) {
  console.log(e)
}
try {
  // marquee animation for diagonal  menu
  const $marquee = document.getElementById("diagonal");
const marquee = new dynamicMarquee.Marquee($marquee, {
  rate: -90,
  startOnScreen: true
})
const lop = dynamicMarquee.loop(
  marquee,
  [
    () => "Telegram",
    () =>
      "Tik-tok",
    () =>
      "Vkontakte",
    () =>
      "Youtube",
    () => 
     "Instagram",
     () =>
      "Facebook",
  ],
  () => {
    const $separator = document.createElement("div")
    $separator.innerHTML = "&nbsp <img src='./img/star.png' /> &nbsp"
    return $separator
  }
)   
// marque animation for #why bekko ads 
const $marquee2 = document.getElementById("ads");
const marquee2 = new dynamicMarquee.Marquee($marquee2, {
  rate: window.innerWidth >1024 ? -300 : -170
})
const lop2 = dynamicMarquee.loop(
  marquee2,
  [
    () => "Nakrutka bo'yicha - "
  ],
  () => {
    const $separator = document.createElement("div")
    $separator.innerHTML = "&nbsp <span class='yellow'>Bozor yetakchisi</span>  &nbsp"
    return $separator
  }
)
} catch(e) {
  console.log(e)
} 
  // how_work cards animation
try {
// Intersection Observer bilan elementlarni boshqarish
const intersection = new IntersectionObserver(entries => {
    entries.forEach(entry => {
        const element = entry.target;
        
        if (entry.isIntersecting) {
            // Element viewportga kirganday wheel eventini qo'shish
            document?.addEventListener("wheel", handleWheel);
        } else {
            // Element viewportdan chiqqanday wheel eventini o'chirish
            document?.removeEventListener("wheel", handleWheel);
        }
    });
});
// Elementni observerga qo'shamiz
window.innerWidth > 768 ? intersection.observe(document.querySelector("#boxCard")) : false;
const elements = document.querySelectorAll("#boxCard");
// Wheel hodisasini boshqaradigan funktsiya
function handleWheel (e) {
  let px = 5;
  px++;
 if(e.deltaY > 0) {
  //  console.log("pastga")
   gsap.to(".oddBoxCard", {y : -px, ease : "slow(0.7, 0.7, false)", duration : 1})
   gsap.to(".evenBoxCard", {y : px, ease : "slow(0.7, 0.7, false)", duration : 1})
 } else {
  // console.log("yuqoriga")
  gsap.to(".oddBoxCard", {y : px, ease : "slow(0.7, 0.7, false)", duration : 1})
   gsap.to(".evenBoxCard", {y : -px, ease : "slow(0.7, 0.7, false)", duration : 1})
 }
}
} catch(e) {
  console.log(e)
}
// 
let headerElement = document.querySelector(".headroom");
			const offset =window.innerHeight * 0.5;
			document?.addEventListener("DOMContentLoaded", function () {
				headroom = new Headroom(headerElement, {
					offset: offset,
					classes: {
						initial: "headroom",
						pinned: "headroom--pinned",
						unpinned: "headroom--unpinned",
					},
				});
				headroom.init();
			});
      if(!document.contains(document.querySelector("#main_banner"))) {
        document.querySelector(".headroom").classList.add("headroom_bg")
      }
			//
			document
				.querySelector(".hamburger-menu")?.addEventListener("click", () => {
					document.querySelector(".hamburger-menu")?.classList.toggle("show");
					document.querySelector(".tabletmenu")?.classList.toggle("show");
					document.querySelector(".bg_mask")?.classList.toggle("show");
				});
			document.querySelector(".bg_mask")?.addEventListener("click", () => {
				document.querySelector(".tabletmenu")?.classList.toggle("show");
				document.querySelector(".bg_mask")?.classList.toggle("show");
				document.querySelector(".hamburger-menu")?.classList.toggle("show");
			});
      try {
        // document.activeElement("#main_banner")
        const intersection = new IntersectionObserver(function(entries){
          entries.forEach(entry=>{
            if(entry.isIntersecting) {
              document.querySelector("#headroom")?.classList.remove("headroom--pinned")
            }
          })
        })
        intersection.observe(document.querySelector("#main_banner"))
      }
      catch(e) {
      }
      // login page animation
      if(document.contains(document.querySelector("#container-login"))) {
  const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container-login');

signUpButton?.addEventListener('click', () =>
container?.classList.add('right-panel-active'));

signInButton?.addEventListener('click', () =>
container?.classList.remove('right-panel-active'));
}

      const {createApp, ref} = Vue;
      if(document.contains(document.querySelector("#services"))) {
        createApp({
    setup() {
      const currentIndex = ref(1)
      return {
        currentIndex
      }
    }
  }).mount('#services')
      }

      if(document.contains(document.querySelector("#ourServices"))) {
        createApp({
    setup() {
      const isVisibleFilter = ref(false)
      return {
        isVisibleFilter
      }
    }
  }).mount('#ourServices')
      }

      if (document.contains(document.querySelector("#login_form_vue"))) {
    const { createApp, ref, onMounted } = Vue;
  
    createApp({
      setup() {
        const currentIndex = ref(1);
        return {
          currentIndex,
        };
      },
    }).mount("#login_form_vue");
  }
  function handleInput(input, index) {
  const value = +input.value;
  if (value) {
    if (index < 6) {
      const nextInput = document.querySelector(`input:nth-child(${index + 1})`);
      nextInput.focus();
    }
  }
}

function handleKeyDown(event, index) {
  if (event.key === 'Backspace' && index > 0) {
    const prevInput = document.querySelector(`input:nth-child(${index})`);
    const currentInput = document.querySelector(`input:nth-child(${index +1 })`);
    if(currentInput.value) {
    currentInput.value = ""
    } else {
      prevInput.focus();
    }
  }
}

// const expandedTitles =  document.querySelectorAll("#expanded_title");
// expandedTitles.forEach((el) => {
//  setTimeout(() => {
//   el.addEventListener("click", () => {
//   console.log(el)
//  }, {capture : true})
//  }, 500);
// });

} 
catch(e) {

}
</script>
<script src="js/script-min.js"></script>
</body>
</html>