#header_bg {
	// background: linear-gradient(180deg, #4063f7 0%, #2044da 100%);
	// background-blend-mode: multiply;
	// padding: 15px 0;
}

#blog {
	background: #f9f9f9;
	min-height: 100vh;
	.title {
		color: #3ed67a;
		font-family: Oswald;
		font-size: 44px;
		font-weight: 500;
		letter-spacing: -0.88px;
		text-transform: uppercase;
		margin: 0 !important;
		padding: 40px 0 20px 0;
		margin-top: 2.5rem !important;
		@include r(992) {
			margin-top: 0 !important;
		}
	}
	.breadcrumbs {
		span, a {
			color: #7e7b7b;
			font-family: Roboto;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px; /* 150% */
			letter-spacing: 0.15px;
			&:nth-child(3) {
				color: #212020;
			}
		}
	}
	.cards {
		margin-top: 30px;
		.card {
			padding: 14px;
			border: 1px solid #fff;
			border-radius: 16px;
			background: #fff;
			box-shadow: 0px 20px 34px -12px rgba(0, 0, 0, 0.04);
			margin: 10px 0;
			img {
				width: 100%;
				height: 100%;
				border-radius: 10px;
				filter: grayscale(10%);
			}
			.title {
				color: #424040;
				font-family: Montserrat;
				font-size: 16px;
				font-weight: 500;
				line-height: 130%; /* 27px */
				letter-spacing: -0.36px;
				padding: 6px 0;
			}
			hr {
				margin-top: 5px;
			}
			.bottom {
				img {
					width: 24px;
					height: 24px;
				}
				span {
					color: #ada8a8;
					font-family: Montserrat;
					font-size: 12px;
					font-weight: 400;
					letter-spacing: -0.24px;
					display: inline-block;
					margin-left: 10px;
				}
				.right {
					margin-left: 30px;
				}
			}
		}
	}
	.pagination {
		padding: 100px 0 150px 0;
		.page-item {
			margin: 0 2px;
			border-radius: 8px;
			border: 1px solid #f5f4f4;
			background: #fff;
			box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
			
		}
		.page-link {
			// margin: 0 2px;
			border-radius: 8px !important;
			border: 1px solid #f5f4f4 !important;
			background: #fff !important;
			box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04) !important;
			color: #7e7b7b !important;
			font-family: Inter !important;
			font-size: 13px !important;
			font-weight: 400 !important;
		}
		.page-item.active .page-link {
			border-radius: 8px !important;
			border: 1px solid #f5f4f4 !important;
			background: #3ed67a !important;
			box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04) !important;
			color: #fff !important;
		}
	}
}
