.no-bg {
	#FAQ {
		min-height: 80vh;
		background: none;
		.wrapper {
			margin-top: -30rem !important;
			@include r(992) {
				margin-top: -37rem !important;
				min-height: 50vh !important;
			}
		}
	}
}
