#footer {
	@include r(992) {
        display: none !important;
	}
	.top {
		background: url("/img/services_bg.png"),
			linear-gradient(180deg, #4063f7 0%, #071551 100%);
		background-size: cover;
		.content {
			padding: 10px 0;
			.logo {
				img {
					width: 70px;
					height: 50px;
				}
			}
			.navs {
				li {
					margin-top: 15px;
					margin-right: 20px;
					font-family: "Montserrat";
					font-weight: 400;
					a {
						@include r(1200) {
							font-size: 14px !important;
						}
					}
				}
			}
			.payment {
				img {
					width: 45px;
					height: 20px;
					margin: 0 10px;
				}
			}
		}
	}
	.bottom {
		padding-top: 20px;
		height: 25px;
		p {
			color: #2044da;
			font-size: 14px;
		}
		img {
			margin: -14px 5px 0 5px;
		}
	}
}
