#header {
	// background: linear-gradient(180deg, #4063f7 0%, #2044da 100%) !important;
	// background: url("https://picsum.photos/500/500") top no-repeat;
	@include r(576) {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		// background: linear-gradient(180deg, #4063f7 0%, #2044da 100%);
		background: #fff;
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
		background-blend-mode: multiply;
		z-index: 100;
	}
	.desktop {
		@include r(576) {
			display: none !important;
		}
	}
}
.mobile {
	display: none;
	@include r(576) {
		display: flex;
		height: 50px;
		align-items: center;
		justify-content: center;
		align-content: center;
	}
	ul {
		@include r(576) {
			margin: 0 !important;
			// width: 120%;
		}
		li {
			&:hover * {
				color: blue;
			}
			a {
				@include r(576) {
					color: #000;
					font-family: Montserrat;
					font-weight: 400;
					font-size: 12px;
					text-transform: uppercase;
					text-decoration: none;
					margin: 0 5px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					transition: all ease 0.3s;
					cursor: pointer;
				}
			}
		}
	}
	i {
		font-size: 16px;
		margin-right: 1px;
		// display: none;
		display: inline-block;
	}
}
.logo {
	@include r(992) {
		display: none !important;
	}
	img {
		width: 98px;
		height: 55px;
	}
}
nav {
	margin-left: 5rem;
	@include r(992) {
		display: none !important;
	}
	@include r(1200) {
		font-size: 12px;
	}
	ul {
		gap: 36px;
		@include r(1200) {
			gap: 20px;
		}
	}
	li {
		a {
			color: #fff;
			font-family: Noto Sans;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-transform: uppercase;
			text-decoration: none;
			&:hover {
				color: #f4f5fc;
			}
		}
	}
}
.langsContainer {
	@include r(992) {
		display: none !important;
	}
}
.langs {
	ul {
		gap: 9px;
		margin-top: 1rem;
	}
	a {
		color: #8fa1ec;
		font-family: Inter;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	.line {
		width: 1px;
		height: 19px;
		background: #8fa1ec;
		display: block;
		margin-top: 4px;
	}
}
.login {
	margin-left: 50px;
	.arrow-btn {
		width: 130px;
		height: 44px;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		background: transparent;
		border-left: none;
		border-right: none;
		color: white;
		position: relative;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;

		&::before {
			content: "";
			position: absolute;
			left: -16px;
			width: 31px;
			height: 31px;
			border-top: 1px solid white;
			border-right: 1px solid white;
			transform: rotate(45deg);
		}

		&::after {
			content: "";
			position: absolute;
			right: -16px;
			width: 31px;
			height: 31px;
			border-top: 1px solid white;
			border-right: 1px solid white;
			transform: rotate(45deg);
		}
	}
}

.tablets {
	position: relative;
	z-index: 10000 !important;
	display: none;
	@media screen and (min-width: 577px) and (max-width: 992px) {
		& {
			display: block !important;
		}
	}
	& > div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: #f4f5fc;
		position: fixed;
		inset: 0;
		height: 60px;
		z-index: 1;
		.brand {
			img {
				width: 70px;
				height: 55px;
			}
		}
	}
	.trigger {
		cursor: pointer;
		width: 20px;
		height: 20px;
		transition: all ease-in 0.1s;
		&:hover {
			transform: scale(1.01);
		}
		i {
			margin-top: 8px;
		}
	}
	.tabletmenu {
		background: #fff;
		position: fixed;
		height: 100vh;
		inset: 0;
		z-index: 1001;
		padding: 2rem;
		transform: translateX(-100%);
		transition: all ease-in 0.2s;
		font-family: Oswald;
		font-weight: 400;
		font-size: 17px;
		@include r(576) {
			width: 80vw !important;
		}
		@include r(768) {
			width: 70vw !important;
		}
		@include r(992) {
			width: 40vw;
		}
	}
	.tabletmenu.show {
		transform: translateX(0);
		transition: all ease-out 0.3s;
	}
	.langs {
		span {
			font-size: 12px;
			margin: 0 5px;
			color: #8fa1ec;
		}
	}

	.hamburger-menu {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		height: 1.5rem;
		width: 1.5rem;
		cursor: pointer;
		// margin-top: -5px;
	}
	.bar-top,
	.bar-middle,
	.bar-bottom {
		height: 3px;
		background: #000;
		border-radius: 5px;
		transform-origin: left;
		transition: all 0.5s;
	}
	.hamburger-menu.show .bar-top {
		transform: rotate(45deg);
	}
	.hamburger-menu.show .bar-middle {
		transform: translateX(1rem);
		opacity: 0;
	}
	.hamburger-menu.show .bar-bottom {
		transform: rotate(-45deg);
	}
}
.spaceY {
	@media screen and (min-width: 577px) and (max-width: 992px) {
		& {
			margin-bottom: 3.5rem;
		}
	}
}
.bg_mask {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	// z-index: -1;
	z-index: 1;
	background: rgba(0, 0, 0, 0.3);
	display: none;
}
.bg_mask.show {
	display: block;
}

.headroom {
	overflow: hidden;
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
	transition: transform 0.3s linear;
}
.headroom_bg {
	background: linear-gradient(180deg, #4063F7 0%, #2044DA 100%);
}
.headroom--pinned {
	transform: translateY(0%);
	background : linear-gradient(180deg, #4063F7 0%, #2044DA 100%) !important;
}

.headroom--unpinned {
	transform: translateY(-100%);
	// background: blue;
}

#buy-link {
	display: none;
}

.headroom--pinned.headroom--not-top #buy-link {
	display: inline-block;
}
