.gg-menu-left {
	transform: scale(var(--ggs, 1));
}

.gg-menu-left,
.gg-menu-left::after,
.gg-menu-left::before {
	box-sizing: border-box;
	position: relative;
	display: block;
	width: 20px;
	height: 2px;
	border-radius: 3px;
	background: currentColor;
}

.gg-menu-left::after,
.gg-menu-left::before {
	content: "";
	position: absolute;
	top: -6px;
	width: 10px;
}

.gg-menu-left::after {
	top: 6px;
	width: 14px;
}


.gg-home-alt {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs,1));
	width: 18px;
	height: 14px;
	border: 2px solid;
	border-top: 0;
	border-radius: 2px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-bottom: -2px
   }
   
   .gg-home-alt::after,
   .gg-home-alt::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute
   }
   
   .gg-home-alt::before {
	border-top: 2px solid;
	border-left: 2px solid;
	border-top-left-radius: 4px;
	transform: rotate(45deg);
	top: -5px;
	border-radius: 3px;
	width: 14px;
	height: 14px;
	left: 0
   }
   
   .gg-home-alt::after {
	width: 6px;
	height: 10px;
	background: currentColor;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	left: 4px;
	bottom: -2px
   } 

   .gg-website {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs,1));
	width: 22px;
	height: 18px;
	border: 2px solid;
	border-radius: 3px;
	box-shadow: 0 -1px 0
   }
   
   .gg-website::after,
   .gg-website::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	width: 6px;
	top: 2px
   }
   
   .gg-website::before {
	background: currentColor;
	left: 2px;
	box-shadow: 0 4px 0,0 8px 0;
	border-radius: 3px;
	height: 2px
   }
   
   .gg-website::after {
	height: 10px;
	border: 2px solid;
	right: 2px;
	border-radius: 1px
   } 

   .gg-log-in {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs,1));
	width: 6px;
	height: 16px;
	border: 2px solid;
	border-left: 0;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	margin-right: -10px
   }
   
   .gg-log-in::after,
   .gg-log-in::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute
   }
   
   .gg-log-in::after {
	border-top: 2px solid;
	border-right: 2px solid;
	transform: rotate(45deg);
	width: 8px;
	height: 8px;
	left: -8px;
	bottom: 2px
   }
   
   .gg-log-in::before {
	border-radius: 3px;
	width: 10px;
	height: 2px;
	background: currentColor;
	left: -11px;
	bottom: 5px
   } 

   .gg-components {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform:
	rotate(45deg)
	scale(var(--ggs,1));
	width: 14px;
	height: 14px;
	background:
	linear-gradient(
	to left,currentColor 10px,transparent 0)
	no-repeat 0 0/2px 6px,
	linear-gradient(
	to left,currentColor 10px,transparent 0)
	no-repeat 4px 0/2px 6px,
	linear-gradient(
	to left,currentColor 10px,transparent 0)
	no-repeat 8px 0/2px 6px,
	linear-gradient(
	to left,currentColor 10px,transparent 0)
	no-repeat 12px 0/2px 6px,
	linear-gradient(
	to left,currentColor 10px,transparent 0)
	no-repeat 0 8px/2px 6px,
	linear-gradient(
	to left,currentColor 10px,transparent 0)
	no-repeat 4px 8px/2px 6px,
	linear-gradient(
	to left,currentColor 10px,transparent 0)
	no-repeat 8px 8px/2px 6px,
	linear-gradient(
	to left,currentColor 10px,transparent 0)
	no-repeat 12px 8px/2px 6px
   }
   
   .gg-components::after,.gg-components::before {
	content: "";
	display: block;
	position: absolute;
	width: 6px;
	height: 2px;
	border-top: 6px double;
	border-bottom: 6px double
   }
   
   .gg-components::after {
	right: 0
   } 

   .faq-icon {
	font-family: 'css.gg';
	font-size: 16px;
	color: #555;
	margin-right: 10px;
  }
  
  .faq-icon:hover {
	color: #000;
  }
  
  .faq-icon::before {
	content: "\e764";
  }