
a {
	text-decoration: none !important;
}

// main banner styles
#main_banner {
	height: 450px;
	width: 100%;
	background: linear-gradient(180deg, #4063f7 0%, #2044da 100%);
	background-blend-mode: multiply;
	@include r(768) {
		height: auto;
	}
	.wrapper {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top;
		height: 100%;
		padding-top: 3rem;
		// background-position-y: -2rem;
		@include r(768) {
			height: auto;
			background: none;
		}
		.img_flip {
			margin-top: 24px;
			position: relative;
			left: 70px;
			img {
				position: relative;
				width: 28px !important;
				height: 28px !important;
			}
			.img2 {
				left: -70px;
			}
			.img3 {
				left: -85px;
			}
			.img4 {
				left: -100px;
			}
			.img5 {
				left: -115px;
			}
			.img6 {
				left: -130px;
			}
		}
		.left {
			align-self: flex-start;
			margin-top: 3rem;
			@include r(768) {
				margin-top: 1rem;
			}
			.title {
				text-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
				font-family: Oswald;
				font-size: 60px;
				font-weight: 500;
				letter-spacing: -1.445px;
				text-transform: uppercase;
				background: linear-gradient(180deg, #ffdf1f 0%, #edb900 100%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				visibility: hidden;
				@include r(768) {
					font-size: 40px;
				}
				@include r(992) {
					font-size: 38px !important;
				}
				@include r(1200) {
					font-size: 50px;
				}
				&.splitting .char {
					visibility: visible;
					animation: slide-in 1s cubic-bezier(.5, 0, .5, 1) both;
					animation-delay: calc(60ms * var(--char-index));
					// background: linear-gradient(180deg, #ffdf1f 0%, #edb900 100%);
					background: linear-gradient(180deg, #ffdf1f 0%, #edb900 100%);
								background-clip: text;
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
				  }
				  
				  @keyframes slide-in {
					from {
					  transform: translateY(-1em)  scale(0.5);
					  opacity: 0;
					}
					to {
						transform: translateY(0) scale(1);
						opacity: 1;
					}
				  }
			}
			.desc {
				text-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
				font-family: Oswald;
				font-size: 23px;
				font-weight: 500;
				letter-spacing: -0.64px;
				text-transform: uppercase;
				background: linear-gradient(180deg, #ffdf1f 0%, #edb900 100%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				visibility: hidden;
				@include r(768) {
					font-size: 16px;
				}
				@include r(992) {
					font-size: 18px;
				}
				&.splitting .char {
					visibility: visible;
					animation: slide-in 1s cubic-bezier(.5, 0, .5, 1) both;
					animation-delay: calc(60ms * var(--char-index));
					// background: linear-gradient(180deg, #ffdf1f 0%, #edb900 100%);
					background: linear-gradient(180deg, #ffdf1f 0%, #edb900 100%);
								background-clip: text;
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
				  }
				  
				  @keyframes slide-in {
					from {
					  transform: translateY(-1em)  scale(0.5);
					  opacity: 0;
					}
					to {
						transform: translateY(0) scale(1);
						opacity: 1;
					}
				  }
			}
			.btns {
				margin-top: 91px;
				display: flex;
				@include r(768) {
					margin-top: 0;
				}
				.arrow-btn-1 {
					background: #3ed67a;
					outline: none;
					border: none;
					width: 208px;
					height: 50px;
					color: #fff;
					font-family: Noto Sans;
					font-size: 16px;
					font-weight: 400;
					clip-path: polygon(80% 0, 93% 49%, 80% 100%, 0 100%, 0 50%, 0 0);
					display: flex;
					align-items: center;
					justify-content: center;
					@include r(768) {
						width: 208px;
						height: 40px;
					}
					@include r(992) {
						font-size: 12px !important;
						height: 40px;
						// padding: 0 5px;
						padding-right: 15px;
						max-width: 250px;
					}
					@include r(1200) {
						font-size: 14px;
					}
				}
				.arrow-btn-2 {
					background: #fff;
					outline: none;
					border: none;
					width: 208px;
					height: 50px;
					color: #2649df;
					font-family: Noto Sans;
					font-size: 16px;
					font-weight: 400;
					clip-path: polygon(87% 0, 100% 49%, 89% 100%, 0 100%, 13% 46%, 0 0);
					display: flex;
					align-items: center;
					justify-content: center;
					margin-left: -1.9rem;
					@include r(768) {
						width: 208px;
						height: 40px;
						margin-left: -1.8rem;
					}
					@include r(992) {
						font-size: 12px;
						height: 40px;
						padding: 0 5px;
						// width: 25px;
						position: relative;
						right: -1rem;
					}
					@include r(1200) {
						margin-left: -1rem;
					}
				}
			}
			.socials {
				gap: 25px;
				margin-top: 9rem;
				@include r(768) {
					margin-top: 1rem;
					display: flex;
					justify-content: center;
				}
				@include r(992) {
					margin-top: 2rem;
				}
				img {
					display: inline-block;
					width: 28px !important;
					height: 28px !important;
					@include r(768) {
						width: 20px !important;
						height: 20px !important;
					}
					@include r(992) {
						width: 25px !important;
						height: 25px !important;
					}
				}
			}
		}
		.right {
			// background: url("./img/header_ring.png");
			height: 550px;
			@include r(768) {
				height: auto;
				display: block !important;
				flex-direction: column !important;
				background-position: center;
				background-size: contain;
				margin-top: 1rem;
			}
			@include r(992) {
				background-size: contain;
				height: auto;
				background-position-y: -10px;
				background-position-x: 6rem;
			}
			& > div {
				@include r(768) {
					flex-direction: column;
				}
			}
			.right_first_item {
				position: relative;
				// @include r(768) {
				// 	position: static;
				// }
				.tiktok {
					position: absolute;
					top: 32%;
					width: 130px;
					height: 200px;
					flex-shrink: 0;
					border-radius: 30px;
					border: 1.16px solid #eaeaea;
					background: #fff;
					padding: 15px 0;
					// animation: oscillate1 10s alternate infinite;
					box-shadow: 23.207548141479492px 16.245283126831055px
						39.45283126831055px 0px rgba(15, 27, 75, 0.33);
					@include r(768) {
						right: 0;
						width: 110px;
						height: 170px;
					}
					@include r(768) {
						right: 0;
						width: 110px;
						height: 170px;
					}
					img {
						width: 60px;
						height: 60px;
						@include r(768) {
							width: 40px;
							height: 40px;
						}
						@include r(992) {
							width: 45px;
							height: 45px;
						}
					}
					.span1 {
						color: #040914;
						font-family: Kaushan Script;
						font-size: 20.887px;
						font-weight: 400;
					}
					.span2 {
						color: #8fa1ec;
						font-family: Kaushan Script;
						font-size: 16.245px;
						font-weight: 400;
					}
					@keyframes oscillate1 {
						0%,
						100% {
							transform: translate(0, 0);
							transform: rotate(180deg);
						} /* Start and end positions */
						25% {
							transform: translate(25%, 0);
							transform: rotate(45deg);
						} /* Move right */
						50% {
							transform: translate(0, 20%);
						} /* Move down */
						75% {
							transform: translate(-15%, 0);
							transform: rotate(-45deg);
						} /* Move left */
					}
				}
			}
			.right_second_item {
				// background: #ccc;
				.youtube {
					position: relative;
					top: 18%;
					left: -8%;
					width: 300px;
					height: 120px;
					flex-shrink: 0;
					border-radius: 30.17px;
					border: 1.16px solid #eaeaea;
					background: #fff;
					padding: 17px 22px;
					z-index: 1;
					// animation: oscillate3 10s alternate infinite;
					box-shadow: 23.207548141479492px 16.245283126831055px
						39.45283126831055px 0px rgba(15, 27, 75, 0.33);
					@include r(768) {
						right: 0;
						top: 13rem;
						left: 0;
						height: 100px;
					}
					@include r(992) {
						right: 0;
						top: 5rem;
						left: 0;
						height: 80px;
					}
					img {
						width: 60px;
						height: 60px;
						@include r(768) {
							width: 40px;
							height: 40px;
						}
						@include r(992) {
							width: 45px;
							height: 45px;
						}
					}
					.spans {
						position: relative;
						left: 25px;
					}
					.span1 {
						color: #ff3000;
						font-family: Kaushan Script;
						font-size: 20.887px;
						font-weight: 400;
						display: block;
						@include r(992) {
							font-size: 17px;
							margin-top: -5px;
						}
					}
					.span2 {
						color: #8fa1ec;
						font-family: Kaushan Script;
						font-size: 16.245px;
						font-weight: 400;
						display: block;
						@include r(992) {
							font-size: 12px;
							margin-top: -5px;
						}
					}
					@keyframes oscillate3 {
						0%,
						100% {
							transform: translate(0, 0);
							// transform: scale(1);
							scale: 0.6;
						} /* Start and end positions */
						25% {
							transform: translate(25%, 0);
							transform: rotate(-5deg);
							// transform: scale(0.8)
							scale: 0.7;
						} /* Move right */
						50% {
							transform: translate(20%, 0);
							// transform: scale(1.3);
							scale: 0.8;
						} /* Move down */
						75% {
							transform: translate(0, -15%);
							transform: rotate(5deg);
							// transform: scale(1.1);
							scale: 0.5;
						} /* Move left */
					}
				}
				.smm_provider {
					position: relative;
					top: 35%;
					left: 20%;
					width: 130px;
					height: 150px;
					flex-shrink: 0;
					border-radius: 30.17px;
					border: 1.16px solid #eaeaea;
					background: #fff;
					padding: 12px 12px 0 12px;
					box-shadow: 23.207548141479492px 16.245283126831055px
						39.45283126831055px 0px rgba(15, 27, 75, 0.23);
					@include r(768) {
						top: -6.1rem;
						left: 0;
						width: 110px;
						height: 170px;
					}
					@include r(992) {
						top: 8rem;
						right: -5rem;
						width: 100px;
						height: 160px;
					}
					img {
						width: 60px;
						height: 60px;
						display: block;
						margin: 0 auto;
						@include r(768) {
							width: 40px;
							height: 40px;
						}
						@include r(992) {
							width: 45px;
							height: 45px;
						}
					}
					.span1 {
						color: #1331ab;
						font-family: Kaushan Script;
						font-size: 17px;
						font-weight: 400;
						display: block;
						text-align: center;
						margin-top: 1rem;
						@include r(992) {
							font-size: 15px;
						}
					}
					.span2 {
						color: #f5ca0e;
						font-family: Kaushan Script;
						font-size: 16.245px;
						font-weight: 400;
						display: block;
						text-align: center;
					}
					.nav_img {
						right: -5.5rem;
						bottom: -5rem;
						@include r(768) {
							right: -3rem;
							bottom: -3rem;
						}
						img {
							width: 150px;
							height: 150px;
							@include r(768) {
								width: 90px;
								height: 90px;
							}
						}
					}
					@keyframes oscillate2 {
						0%,
						100% {
							transform: translate(0, 0);
							transform: rotate(180deg);
							// transform: scale(1);
							scale: 1;
						} /* Start and end positions */
						25% {
							transform: translate(25%, 0);
							transform: rotate(-45deg);
							// transform: scale(0.8)
							scale: 0.8;
						} /* Move right */
						50% {
							transform: translate(20%, 0);
							// transform: scale(1.3);
							scale: 1.1;
						} /* Move down */
						75% {
							transform: translate(0, -15%);
							transform: rotate(45deg);
							// transform: scale(1.1);
							scale: 1.05;
						} /* Move left */
					}
				}
			}
		}
	}
	.diagonal_menu {
		background: #16d163;
		box-shadow: 0px 14px 22px 1px rgba(22, 209, 99, 0.22);
		// padding: 10px 0px 1px 5px;
		padding: 8px 0;
		color: #fff;
		transform: rotate(-6.459deg);
		position: relative;
		left: -10px;
		z-index: -1;
		// height: 40px;
		margin-top: 5.5rem;
		width: 110% !important;
		overflow-x: hidden !important;
		margin-bottom: 10rem;
		color: #fff;
		font-family: Oswald;
		font-size: 17px;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
		min-height: 40px;
		@include r(768) {
			font-size: 13px;
			transform: rotate(0);
			z-index: 0;
			padding: 0;
			margin-top: 4rem;
		}
		@include r(992) {
			font-size: 14px;
			margin-bottom: 0 !important;
			min-height: auto !important;
			z-index: -1;
			padding: 0;
			margin-top: -1rem;
			min-height: auto !important;
		}
		div {
			margin-top: 4px;
		}
		img {
			margin-top: -3px;
		}
		li {
			color: #fff;
			font-family: Oswald;
			font-size: 17px;
			font-weight: 400;
			line-height: normal;
			text-transform: uppercase;
			color: #00bb4d;
			@include r(768) {
				font-size: 13px;
			}
			@include r(992) {
				font-size: 14px;
			}
		}
	}

	.marquee {
		height: 50px;
		width: 100%;

		overflow: hidden;
		position: relative;
	}

	.marquee div {
		display: block;
		width: 200%;
		height: 30px;

		position: absolute;
		overflow: hidden;

		animation: marquee 10s linear infinite;
		// animation-delay: -5s;
		// animation-duration: 10s;
	}

	.marquee span {
		float: left;
		width: 50%;
	}

	@keyframes marquee {
		0% {
			left: 0;
		}
		100% {
			left: -100%;
		}
	}
}

// main banner styles

// why bekko styles
#why_bekko {
	margin-top: 20rem;
	padding-top: 94px;
	background: #fbfbfb;
	padding-bottom: 2.5rem;
	@include r(768) {
		margin-top: 0;
		padding-top: 50px;
	}
	.title {
		color: #28e274;
		text-align: center;
		text-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
		font-family: Oswald;
		font-size: 44px;
		font-weight: 500;
		letter-spacing: -0.88px;
		text-transform: uppercase;
		margin-bottom: 4rem;
		visibility: hidden;
		&.splitting .char {
			visibility: visible;
			animation: slide-in 1s cubic-bezier(.5, 0, .5, 1) both;
			animation-delay: calc(60ms * var(--char-index));
			// background: linear-gradient(180deg, #ffdf1f 0%, #edb900 100%);
			color: #28E274;
		  }
		  
		  @keyframes slide-in {
			from {
			  transform: translateX(1em)  scale(0.5);
			  opacity: 0;
			}
			to {
				transform: translateX(0) scale(1);
				opacity: 1;
			}
		  }
		@include r(576) {
			font-size: 30px !important;
		}
		@include r(768) {
			font-size: 40px;
		}
	}
	.items {
		gap: 20px;
		@include r(768) {
			gap: 10px;
		}
		& > div {
			width: 23%;
			height: 449px;
			border-radius: 12px;
			padding: 41px 20px;
			@include r(768) {
				width: 48%;
				height: auto;
			}
			@include r(576) {
				width: 90% !important;
				margin: 0 auto !important;
				padding: 10px 8px !important;
			}
			@include r(992) {
				width: 30%;
				margin: 0 auto !important;
			}
			&:nth-child(even) {
				&:hover {
					margin-top: 0;
					transition: all ease-in-out 0.3s;
				}
				transition: all ease-in 0.3s;
				margin-top: 2.5rem;
				@include r(1200) {
					margin-top: 0;
				}
				img {
					// width: 100%;
					margin-top: 1rem;
					margin-bottom: 3rem;
					@include r(992) {
						margin-top: 0;
						margin-bottom: 1rem;
					}
				}
			}
			&:nth-child(1) {
				background: linear-gradient(180deg, #4063f7 0%, #2044da 100%);
				box-shadow: 0px 80px 50px -50px rgba(35, 71, 221, 0.28);
			}
			&:nth-child(2) {
				background: linear-gradient(180deg, #ffdf1f 0%, #edb900 100%), #f3f3f3;
				box-shadow: 0px 80px 50px -50px rgba(239, 189, 3, 0.28);
			}
			&:nth-child(3) {
				background: linear-gradient(180deg, #29e375 5.32%, #00bb4d 89.6%);
				box-shadow: 0px 80px 50px -50px rgba(12, 199, 88, 0.28);
			}
			&:nth-child(4) {
				background: linear-gradient(180deg, #811fff 0%, #5a00ed 100%), #f3f3f3;
				box-shadow: 0px 80px 50px -50px rgba(110, 16, 247, 0.28);
			}
			.texts {
				@include r(786) {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			.text {
				color: #fff;
				text-align: center !important;
				font-family: Oswald;
				font-size: 22px;
				font-weight: 500;
				letter-spacing: -0.44px;
				text-transform: uppercase;
				display: -webkit-box;
                        overflow: hidden;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
						min-height: 55px;
				@include r(768) {
					font-size: 16px;
				}
				@include r(992) {
					font-size: 18px;
					line-height: 25px;
				}
			}
			.desc {
				color: #fff;
				text-align: center;
				font-family: Oswald;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 150%; /* 24px */
				text-transform: uppercase;
				margin-top: 2rem;
				margin-bottom: 3rem;
				display: -webkit-box;
                        overflow: hidden;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
						min-height: 65px;
				@include r(768) {
					margin-bottom: 0;
				}
				@include r(1200) {
					margin-top: 0.5rem;
					font-size: 12px !important;
				}
			}
			img {
				width: 172px;
				height: 90px;
				display: block;
				text-align: center;
				@include r(576) {
					width: 100px !important;
					height: 70px !important;
				}
			}
		}
	}

	.ads {
		margin-top: 2rem;
		// padding: 10px 0;
		width: 100%;
		text-transform: uppercase;
		font-family: "Oswald";
		// margin: 0 10px;
			font-size: 9.3vw;
			color: #11cc5e;

		// display: flex;
		// align-items: center;
		// justify-content: space-between;
		// transition: all ease-in-out .3s;
		min-height: 100px;
		// &.show {
		// 	animation: textclip 8s linear infinite;
		// 	& > span {
		// 		&:nth-child(4) {
		// 			display: block;
		// 		}
		// 	}
		// }
		& > span {
			margin: 0 10px;
			font-size: 9.3vw;
			&:nth-child(4) {
				display: none;
				&.show {
					display: block;
				}
			}
		}

		.green {
			color: #11cc5e;
			margin-right: 1rem;
			font-size: 9.3vw;

		}
		.yellow {
			color: #ffe400;
			font-size: 9.3vw;

		}

		// @keyframes textclip {
		// 	0% {
		// 		transform: translateX(0);
		// 	}
		// 	25% {
		// 		transform: translateX(-25%);
		// 	}
		// 	50% {
		// 		transform: translateX(-50%);
		// 	}
		// 	75% {
		// 		transform: translateX(-75%);
		// 	}
		// 	100% {
		// 		transform: translateX(-100%);
		// 	}
		// }
	}

	#boxCard {
		transition: all ease-in .3s;
		// visibility: hidden;
		// &.show:nth-child(odd) {
		// 	// animation: fromTopToBottom 1s ease-in-out;
		// }
		// &.show:nth-child(even) {
		// 	// animation: fromBottomToTop 1s ease-in-out;
		// }
		// @keyframes fromTopToBottom {
		// 	0% {
		// 		opacity: 0;
		// 		transform: translateY(-20%);
		// 		scale: 0.9;
		// 	}
		// 	100% {
		// 		opacity: 1;
		// 		transform: translateY(0);
		// 		scale: 1;
		// 	}
		// }
		// @keyframes fromBottomToTop {
		// 	0% {
		// 		opacity: 0;
		// 		transform: translateY(20%);
		// 		scale: 0.9;
		// 	}
		// 	100% {
		// 		opacity: 1;
		// 		transform: translateY(0);
		// 		scale: 1;
		// 	}
		// }
	}
}

// why bekko styles

// bizning xizmatlar styles
#services {
	width: 100%;
	padding: 6rem 0;
	.title {
		color: #ffde1e;
		text-align: center;
		font-family: Oswald;
		font-size: 44px;
		font-weight: 500;
		letter-spacing: -0.88px;
		text-transform: uppercase;
		@include r(576) {
			font-size: 30px !important;
		}
		@include r(768) {
			font-size: 40px;
		}
	}
	.socials {
		gap: 20px;
		.box {
			width: 34px;
			height: 34px;
			border: 1px solid #ccc;
			transition: all ease-in-out 0.3s;
			cursor: pointer;
			.onhover {
				transform: scale(1.5);
				border-color: #ffde1e;
				.inline_box {
					transform: scale(1.05);
				}
			}
			.inline_box {
				width: 30px;
				height: 30px;
				text-align: center;
				img {
					width: 15px !important;
					height: 15px !important;
				}
			}
		}
	}
	.cards {
		margin-top: 4rem;
		margin-left: 0 !important;
		& > div {
			padding-left: 0 !important;
			margin: 10px 0;
			& > div {
				border-radius: 12px;
				background: #fff;
				box-shadow: 0px 80px 50px -50px rgba(174, 174, 174, 0.28);
				transition: all ease-in 0.3s;
				@include r(1024) {
					pointer-events: none !important;
				}
				&:hover {
					background: #3ed67a !important;
					box-shadow: 0px 80px 50px -50px rgba(174, 174, 174, 0.28);
					.inline_title {
						color: #fff !important;
					}
					.name {
						color: #9af4be !important;
					}
					.logo_img_blue {
						display: none !important;
						transition: all ease-in 0.3s;
					}
					.logo_img_white {
						display: block !important;
					}
					.arrow_nav {
						// filter: hue-rotate(120deg);
						transition:  all ease-in-out .3s !important;
					}
				}
				.left {
					padding: 32px 10px 40px 35px;
					.inline_title {
						transition: all ease-in 0.3s;
						color: #3ed67a;
						font-family: Oswald, sans-serif;
						font-size: 21px;
						font-weight: 500;
						letter-spacing: -0.48px;
						text-align: left;
						letter-spacing: -0.88px;
					}
					.first {
						margin-top: 30px;
						margin-bottom: 16px;
						@include r(576) {
							margin: 0;
						}
					}
					img {
						width: 24px;
						height: 24px;
						margin-top: -20px;
					}
					.name.expanded {
						color: #9299b7;
						font-family: Montserrat;
						font-size: 12px;
						font-weight: 400;
						letter-spacing: -0.24px;
						line-height: 11px;
						transition: all ease-in 0.3s;
						text-overflow: ellipsis;
						display: -webkit-box;
                        overflow: hidden;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
						min-height: 2rem;
					}
					.price {
						color: #3e4354;
						font-family: Montserrat;
						font-size: 9px;
						font-weight: 600;
						letter-spacing: -0.28px;
						line-height: 11px;
						@include r(576) {
							font-size: 10px;
						}
					}
					.logo_img_blue, .logo_img_white {
						transition: all ease-in 0.3s !important;
					}
					p {
						margin-bottom: 8px;
					}
				}
				.right {
					// background-image: url("/img/services_nav.png");
					// background-repeat: no-repeat;
					// background-size: contain;
					// transform: rotate(2deg);
					padding: 32px 50px 40px 35px;
					position: relative;
					transition: all ease-in 0.3s;
					.arrow_nav {
						transition: all ease-in-out .5s !important;
					}
					.bg {
						position: absolute;
						inset: 0;
						width: 100%;
						height: 100%;
						transform: scale(0.85);
						transition: all ease-in 0.5s !important;
						top: -5px;
						// width: 98%;
						@include r(576) {
							top: -10px;
							transform: scale(0.85);
						}
						img {
							width: 100%;
							height: 100%;
							transition: all ease-in 0.3s;
						}
					}
					.arrow {
						transform: rotate(-2deg);
					}
					.logo {
						width: 50px;
						height: 25px;
						transform: rotate(-2deg);
						position: absolute;
						bottom: 2rem;
						right: 2.8rem;
						// margin-top: 6.5rem;
					}
					.logo_img {
						transition: filter 0.5s ease;
					}
				}
			}
		}
	}
}
// bizning xizmatlar styles

// carousel styles
#carousel {
	// height: 650px;
	padding: 120px 0 80px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	@include r(768) {
		padding: 100px 0 0 0;
	}

	.blog-slider {
		width: 95%;
		position: relative;
		max-width: 800px;
		margin: auto;
		border-radius: 24px;
		background: #3ed67a;
		box-shadow: 0px 64px 44px -30px rgba(62, 214, 122, 0.25);
		padding: 25px;
		height: 400px;
		transition: all 0.3s;

		@media screen and (max-width: 992px) {
			max-width: 680px;
			height: 400px;
		}

		@media screen and (max-width: 768px) {
			min-height: 500px;
			height: auto;
			margin: 150px auto;
		}

		@media screen and (max-height: 500px) and (min-width: 992px) {
			height: 350px;
		}

		&__item {
			display: flex;
			align-items: center;

			@media screen and (max-width: 768px) {
				flex-direction: column;
			}

			&.swiper-slide-active {
				.blog-slider__img {
					img {
						opacity: 1;
						transition-delay: 0.3s;
					}
				}
				.blog-slider__content {
					> * {
						opacity: 1;
						transform: none;

						@for $i from 0 to 15 {
							&:nth-child(#{$i + 1}) {
								transition-delay: $i * 0.1 + 0.3s;
							}
						}
					}
				}
			}
		}

		&__img {
			// width: 40%;
			width: 300px;
			flex-shrink: 0;
			height: 300px;
			// background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
			// box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
			border-radius: 20px;
			transform: translateX(-80px);

			overflow: hidden;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 20px;
				opacity: 0.8;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
				opacity: 0;
				border-radius: 20px;
				transition: all 0.3s;
			}

			@media screen and (max-width: 992px) {
				// width: 45%;
			}
			@media screen and (max-width: 768px) {
				transform: translateY(-50%);
				width: 90%;
			}
			@media screen and (max-width: 576px) {
				width: 95%;
			}
			@media screen and (max-height: 500px) and (min-width: 992px) {
				height: 270px;
			}
		}

		&__content {
			// width: 60%;
			padding-right: 25px;
			@media screen and (max-width: 992px) {
				// width: 55%;
			}
			@media screen and (max-width: 768px) {
				margin-top: -80px;
				text-align: center;
				padding: 0 30px;
			}

			@media screen and (max-width: 576px) {
				padding: 0;
			}
			> * {
				opacity: 0;
				transform: translateY(25px);
				transition: all 0.4s;
			}
		}

		&__title {
			color: #ffde1e;
			text-align: center;
			font-family: Oswald;
			font-size: 24px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-transform: uppercase;
			margin-top: 1.5rem;
			@include r(768) {
				margin-top: 0 !important;
			}
		}

		&__text {
			color: #dbf4e5;
			font-family: Montserrat;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 150%; /* 24px */
			letter-spacing: -0.32px;
			margin-top: 1.5rem;
			@include r(768) {
				margin-top: 0 !important;
			}
		}
		& .info {
			@include r(768) {
				width: 100% !important;
				margin: 0 auto !important;
				display: flex;
				align-items: center;
				justify-content: center;
				align-content: center;
			}
			& > div:first-child {
				margin-right: 40px;
			}
			p {
				margin-bottom: 0;
			}
			img {
				width: 24px;
				height: 24px;
				margin-right: 5px;
			}
			.name {
				color: #ddffea;
				font-family: Montserrat;
				font-size: 12px;
				font-weight: 400;
				letter-spacing: -0.24px;
			}
			.price {
				color: #fff;
				font-family: Montserrat;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: -0.28px;
			}
		}

		.swiper-container-horizontal > .swiper-pagination-bullets,
		.swiper-pagination-custom,
		.swiper-pagination-fraction {
			bottom: 10px;
			left: 0;
			width: 100%;
		}
		&__pagination {
			position: absolute;
			z-index: 21;
			right: 20px;
			width: 11px !important;
			text-align: center;
			left: auto !important;
			top: 50%;
			bottom: auto !important;
			transform: translateY(-50%);
			@media screen and (max-width: 768px) {
				transform: translateX(-50%);
				left: 50% !important;
				top: 205px;
				width: 100% !important;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&.swiper-pagination-bullets .swiper-pagination-bullet {
				margin: 8px 0;
				@media screen and (max-width: 768px) {
					margin: 0 5px;
				}
			}

			.swiper-pagination-bullet {
				width: 6px;
				height: 6px;
				display: block;
				border-radius: 10px;
				background: #fff;
				transition: all 0.3s;
				&-active {
					opacity: 1;
					background: #fff;
					width: 6px;
					height: 19px;

					@media screen and (max-width: 768px) {
						height: 11px;
						width: 30px;
					}
				}
			}
		}
	}
}
// carousel styles

// how_work styles
#how_work {
	&.onobserved  .head-title.splitting .char {
		animation: slide-in 1s cubic-bezier(.5, 0, .5, 1) both;
		animation-delay: calc(60ms * var(--char-index));
		// background: linear-gradient(180deg, #ffdf1f 0%, #edb900 100%);
		color: #FFDE1E;
	  }
	  
	  @keyframes slide-in {
		from {
		  transform: translateX(-1em)  scale(0.5);
		  opacity: 0;
		}
		to {
			transform: translateX(0) scale(1);
			opacity: 1;
		}
	  }
	// background: url("/img/services_bg.png"),
	// 	linear-gradient(180deg, #4063f7 0%, #071551 100%);
	// background-size: cover;
	padding: 6rem 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	.dot-snake{
		position: absolute;
		width: 70%;
	}
	.head-title {
		color: #ffde1e;
		text-align: center;
		font-family: Oswald;
		font-size: 44px;
		font-weight: 500;
		letter-spacing: -0.88px;
		text-transform: uppercase;
		visibility: hidden;
		
		@include r(576) {
			font-size: 30px;
		}
	}
	.how_work_cards {
		// background: url("/img/how_work_line.png");
		// background-size: contain;
		// background-position: center;
		// background-repeat: no-repeat;
		// background-position-x: -20px -20px;
		// background-attachment: scroll;
		// margin-left: 15px;
		visibility: hidden;
		width: 100%;
		margin: 0 auto;
		min-height: 400px;
		& > div {
			// padding-left: 0 !important;
			// visibility: hidden;
			// padding-right: 44px !important;
			padding: 0 20px;
		}
		& > div > .card {
			// background: url("/img/why_card_bg.png"), #fff;
			// background-size: contain;
			// background-repeat: no-repeat;
			border-radius: 12px;
			box-shadow: 0px 0px 50px 20px rgba(174, 174, 174, 0.28);
			padding: 35px 10px;
			padding-bottom: 15px;
			// transform: rotate(3deg);
			transition: .6s;
			@include r(1024) {
			pointer-events: none;
			}
			&:hover{
			
			transform: scale(1.2) rotate(6deg) !important;
			z-index: 999;
			animation: showExpanded .1s cubic-bezier(.5, 0, .5, 1) both;
			.title {
				display: block;
				animation: showExpanded .1s cubic-bezier(.5, 0, .5, 1) both;
				animation-delay: .4s;
			}
			.desc{
				// max-height: 150px;
				overflow-y: hidden;
				transition: .6s; 
				transition-delay: .4s;
				display: block;
				animation: showExpanded .1s cubic-bezier(.5, 0, .5, 1) both;
				animation-delay: .4s;

			}}
			@include r(576) {
				transform: rotate(0);
				margin: 5px 0;
				padding: 10px;
			}
		}
		.title {
			color: #3ed67a;
			font-family: Oswald;
			font-size: 24px;
			font-weight: 500;
			letter-spacing: -0.48px;
			margin-top: 4rem;
			text-align: center;
			display: -webkit-box;
                        overflow: hidden;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
			@include r(576) {
				margin-top: 1rem;
				text-align: center;
			}
		}
		.desc {
			color: #6a6f85;
			text-align: center;
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 400;
			line-height: 100%; /* 21px */
			min-height: 40px;
			display: -webkit-box;
                        overflow: hidden;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
			overflow-y: hidden;
			transition: .6s;  
			
		}
		.card1 {
			transform: rotate(-2.235deg);
			width: 95%;
			position: relative;
			// margin-left: 1.5rem;
			@include r(992) {
				transform: none !important;
				width: 100%;
				margin: 5px 0;
			}
		}
		.card2 {
			transform: rotate(1.662deg);
			width: 95%;
			// margin-left: 1rem;
			@include r(992) {
				transform: none !important;
				width: 100%;
				margin: 5px 0;
			}
		}
		.card3 {
			transform: rotate(-2.242deg);
			width: 95%;
			// margin-left: 0.5rem;
			@include r(992) {
				transform: none !important;
				width: 100%;
				margin: 5px 0;
			}
		}
		.card4 {
			transform: rotate(-7.544deg);
			width: 95%;
			// transform: translateX(-1rem);
			position: relative;
			// margin-left: -1rem;
			@include r(992) {
				transform: none !important;
				width: 100%;
				margin: 5px 0;
			}
		}
		@keyframes showExpanded {
			0%{
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}

}

// how_work styles

// second_banner styles
#second_banner {
	margin-top: 8rem;
	padding-bottom: 4rem;
	@include r(768) {
		padding-bottom: 0 !important;
	}
	.wrapper {
		position: relative;
		inset: 0;
		.shadow_text {
			position: absolute;
			top: 0;
			p {
				color: #3ed67a;
				font-family: Oswald;
				font-size: 49px;
				font-weight: 500;
				letter-spacing: -1.128px;
				line-height: 65px;
				text-transform: uppercase;
				opacity: 0.10000000149011612;
			}
		}
		.cards {
			position: absolute;
			top: 0;
			// width: 80%;
			.left {
				.title {
					color: #3ed67a;
					font-family: Oswald;
					font-size: 26px;
					font-weight: 500;
					letter-spacing: -0.64px;
					text-transform: uppercase;
					margin-top: -2.5rem;
				}
				.desc {
					color: #6a6f85;
					font-family: Montserrat;
					font-size: 13px;
					font-weight: 400;
					line-height: 150%; /* 21px */
					@include r(576) {
						font-size: 12px;
						margin: 0 auto !important;
						margin-left: 0 !important;
						width: 90%;
					}
				}
			}
			.right {
				// background: url("/img/second_banner_card.png"),
				// 	linear-gradient(138deg, #78f4a9 0%, #26b860 100%);
				// background-size: cover;
				// background-repeat: no-repeat;
				// background-position: center;
				border-radius: 51px;
				height: 400px;
				transform: rotate(5deg);
				// margin-top: -1.5rem;
				@include r(768) {
					margin-top: 2rem;
					transform: none;
					margin: 0 1rem !important;
					width: 88%;
					border-radius: 15px;
					height: 250px;
				}
			}
		}
	}
	.spaceToTop {
		position: relative;
	}
}
// second banner styles

// FAQ styles
#FAQ {
	margin-top: 30rem;
	// background: url("/img/services_bg.png"),
	// 	linear-gradient(180deg, #fbfbfb 0%, #fbfbfb 100%);
	// background-size: cover;
	padding: 8rem 0;
	@include r(992) {
		margin-top: 37rem;
	}
	.title {
		color: #ffde1e;
		text-align: center;
		font-family: Oswald;
		font-size: 44px;
		font-weight: 500;
		letter-spacing: -0.88px;
		text-transform: uppercase;
	}
	// .mtop {
	// 	margin-top: 10rem;
	// }
	.desc {
		color: #83839d;
		font-family: Montserrat;
		width: 80%;
		font-size: 17px;
		font-weight: 400;
		line-height: 26px; /* 162.5% */
	}

	ul.accordion-list {
		position: relative;
		display: block;
		width: 100%;
		height: auto;
		padding: 20px;
		margin: 0;
		list-style: none;
		li {
			position: relative;
			display: block;
			width: 100%;
			height: auto;
			background-color: #fff;
			padding: 20px;
			margin: 0 auto 15px auto;
			border: 1px solid #eee;
			border-radius: 14px;
			cursor: pointer;
			transition: all ease-in-out 0.5s;
			@include r(576) {
				padding: 10px;
			}
			&.active {
				color: #fff;
				border-radius: 24px;
				background: #3ed67a;
				box-shadow: 0px 64px 44px -30px rgba(62, 214, 122, 0.25);

				h3 {
					color: #fff;
					font-family: Montserrat;
					font-size: 20px;
					font-weight: 600;
					line-height: 38px; /* 190% */
					text-transform: capitalize;
					@include r(576) {
						font-size: 15px !important;
					}
					&:after {
						// transform: rotate(45deg);
						// content: url("/img/close.png");
						content: "+";
						font-size: 35px;
						color: #fff;
						transform: rotate(-45deg);
						position: absolute;
						right: 1rem;
						top: 1rem;
					}
				}
			}

			h3 {
				color: #8f8f8f;
				font-family: Montserrat;
				font-size: 19px;
				font-weight: 500;
				line-height: 28px; /* 190% */
				text-transform: capitalize;
				width: 92%;
				@include r(576) {
					font-size: 15px !important;
				}
				&:after {
					// content: url("/img/plus.png");
					content: "+";
					position: absolute;
					right: 1rem;
					font-size: 35px;
					color: #00bb4d;
					// top: 2rem;
					transition: all 0.3s ease-in-out;
					@include r(576) {
						top: 1rem;
					}
				}
			}

			div.answer {
				color: #dbf4e5;
				font-family: Montserrat;
				font-size: 16px;
				font-weight: 500;
				line-height: 150%; /* 24px */
				letter-spacing: -0.32px;

				p {
					position: relative;
					display: block;
					font-weight: 300;
					padding: 10px 0 0 0;
					cursor: pointer;
					line-height: 150%;
					margin: 0 0 15px 0;
					font-size: 14px;
				}
			}
		}
	}
}
// FAQ styles

// common styles 

