#login {
	@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

	* {
		box-sizing: border-box;
	}

	.wrapper {
		font-family: "Montserrat", sans-serif;
		background: #f6f5f7;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		/* margin: -20px 0 50px;
  margin-top: 20px; */
	}
	#login_form_vue {
        display: none;
		@include r(576) {
			width: 100% !important;
		}
        @include r(850) {
            width: 80%;
            display: block;
        }
	}
	._desktop_screen {
		@include r(850) {
			display: none !important;
		}
	}
	._mobile_screen {
		form {
			display: flex;
			padding: 0 16px;
			justify-content: center;
			flex-direction: column;
			@include r(576) {
				padding: 0 64px;
			}
			input {
				padding: 10px 10px;
				margin: 5px 0;
				border: 1px solid #e3e3e3;
				border-radius: 12px;
				transition: all ease-in 0.3s;
				&:focus {
					outline: none;
					border: 1px solid #6679ce;
				}
			}
			.link {
				color: #6679ce;
			}
		}
	}

	._title {
		color: #3858df;
		font-family: "Oswald";
		font-size: 44px;
		font-weight: 500;
		letter-spacing: -0.88px;
		@include r(768) {
			font-size: 30px;
		}
	}
	._white_title {
		color: #fff;
	}
	.blue_title {
		color: #3858df;
	}

	._green_button {
		border-radius: 12px;
		background: #3ed67a;
		color: #fff;
		font-family: "Inter";
		font-size: 16px;
		font-weight: 400;
		line-height: 140%; /* 22.4px */
		padding: 8px 16px;
		width: 70%;
		border: none;
		margin-top: 10px;
	}
	._transparent_button {
		border-radius: 12px;
		border: 1px solid #fff;
		color: #fff;
		font-family: "Inter";
		font-size: 16px;
		font-weight: 400;
		line-height: 140%; /* 22.4px */
		background: transparent;
		padding: 8px 16px;
		width: 70%;
	}

	.p {
		font-size: 14px;
		font-weight: 100;
		line-height: 20px;
		letter-spacing: 0.5px;
		margin: 20px 0 30px;
	}

	.span {
		font-size: 12px;
	}

	.a {
		color: #333;
		font-size: 14px;
		text-decoration: none;
		margin: 15px 0;
	}

	.container-login {
		background: #fff;
		border-radius: 10px;
		/* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2); */
		position: relative;
		overflow: hidden;
		width: 768px;
		max-width: 100%;
		min-height: 480px;
	}

	.form-container form {
		background: #fff;
		display: flex;
		flex-direction: column;
		padding: 0 50px;
		height: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.social-container {
		margin: 20px 0;
	}

	.social-container a {
		border: 1px solid #ddd;
		border-radius: 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 0 5px;
		height: 40px;
		width: 40px;
	}

	.form-container input {
		border-radius: 12px;
		border: 1px solid var(--blue-3, #bcc7f4);
		padding: 12px 15px;
		margin: 8px 0;
		width: 100%;
	}

	.login-button {
		border-radius: 20px;
		border: 1px solid #ff4b2b;
		background: #ff445c;
		color: #fff;
		font-size: 12px;
		font-weight: bold;
		padding: 12px 45px;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: transform 80ms ease-in;
	}

	.login-button:active {
		transform: scale(0.95);
	}

	.login-button:focus {
		outline: none;
	}

	.login-button.ghost {
		background: transparent;
		border-color: #fff;
	}

	.form-container {
		position: absolute;
		top: 0;
		height: 100%;
		transition: all 0.6s ease-in-out;
	}

	.sign-in-container {
		left: 0;
		width: 50%;
		z-index: 2;
	}

	.sign-up-container {
		left: 0;
		width: 50%;
		z-index: 1;
		opacity: 0;
	}

	.overlay-container {
		position: absolute;
		top: 0;
		left: 50%;
		width: 50%;
		height: 100%;
		overflow: hidden;
		transition: transform 0.6s ease-in-out;
		z-index: 100;
	}

	.overlay {
		background: #3858df;
		background: linear-gradient(to right, #3858df, #3858df) no-repeat 0 0 /
			cover;
		color: #fff;
		position: relative;
		left: -100%;
		height: 100%;
		width: 200%;
		transform: translateY(0);
		transition: transform 0.6s ease-in-out;
	}

	.overlay-panel {
		position: absolute;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 40px;
		height: 100%;
		width: 50%;
		text-align: center;
		transform: translateY(0);
		transition: transform 0.6s ease-in-out;
	}

	.overlay-right {
		right: 0;
		transform: translateY(0);
	}

	.overlay-left {
		transform: translateY(-20%);
	}

	/* Move signin to right */
	.container-login.right-panel-active .sign-in-container {
		transform: translateY(100%);
	}

	/* Move overlay to left */
	.container-login.right-panel-active .overlay-container {
		transform: translateX(-100%);
	}

	/* Bring signup over signin */
	.container-login.right-panel-active .sign-up-container {
		transform: translateX(100%);
		opacity: 1;
		z-index: 5;
	}

	/* Move overlay back to right */
	.container-login.right-panel-active .overlay {
		transform: translateX(50%);
	}

	/* Bring back the text to center */
	.container-login.right-panel-active .overlay-left {
		transform: translateY(0);
	}

	/* Same effect for right */
	.container-login.right-panel-active .overlay-right {
		transform: translateY(20%);
	}

	.footer {
		margin-top: 25px;
		text-align: center;
	}

	.icons {
		display: flex;
		width: 30px;
		height: 30px;
		letter-spacing: 15px;
		align-items: center;
	}
}
