.services_bg {
	background: linear-gradient(180deg, #4063f7 0%, #2044da 100%) !important;
}
#ourServices {
	background: #f4f4f4;
	min-height: 100vh;
	.breadcrumbs {
		span,
		a {
			color: #7e7b7b;
			font-family: Roboto;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px; /* 150% */
			letter-spacing: 0.15px;
			&:nth-child(3) {
				color: #212020;
			}
		}
		margin-bottom: 30px;
	}
	.table {
		padding: 0 25px;

		.name {
			color: #000;
			font-family: Montserrat;
			font-size: 22px;
			font-weight: 600;
			margin: 0;
			padding: 30px 0;
		}
		.top-bar {
			padding-bottom: 1rem;
			button {
				border: none;
				display: flex;
				padding: 5px 14px;
				justify-content: center;
				align-items: center;
				gap: 10px;
				span {
					color: #424040;
					font-family: Inter;
					font-size: 13px;
					font-weight: 400;
				}
			}
			.filter {
				border-radius: 4px;
				border: 1px solid #bfbaba;
				background: #fff;
				margin-right: 1rem;
				span {
					@include r(576) {
						display: none;
					}
				}
			}
			.reset {
				border-radius: 4px;
				border: 1px solid #a6b4f0;
				background: #fff;
				span {
					@include r(576) {
						display: none;
					}
				}
			}
			.count {
				border-radius: 4px;
				border: 1px solid var(--blue-4, #a6b4f0);
				background: #fff;
			}
			select {
				// padding: 10px !important;
				border: none !important;
				&:focus {
					outline: none;
					border: none;
					box-shadow: none;
				}
			}
		}
		.results {
			margin-bottom: 1rem;
			span {
				color: #7e7b7b;
				font-family: Montserrat;
				font-size: 13px;
				font-weight: 400;
			}
			b {
				color: #000;
				font-family: Montserrat;
				font-size: 13px;
				font-weight: 400;
			}
		}
		table {
			border-collapse: collapse;
			// width: 100%;
			overflow-x: auto;
			th {
				color: #2044da;
				font-family: Montserrat;
				font-size: 14px;
				font-weight: 500;
			}
			tbody {
				overflow-x: auto;
				tr:nth-child(odd) {
					background-color: #e9ecfb;
				}
			}
			td {
				color: #7e7b7b;
				font-family: Inter;
				font-size: 13px;
				font-weight: 400;
			}
			td,
			th {
				border: 1px solid #ccc;
				text-align: left;
				padding: 8px;
				// text-align: center;
				vertical-align: middle;
				img {
					margin-left: 10px;
				}
			}

			.short {
				max-width: 150px;
			}
			.middle {
				max-width: 250px;
			}
			.long {
				max-width: 350px;
			}
		}
	}
	.title {
		color: #3ed67a;
		font-family: Oswald;
		font-size: 40px;
		font-weight: 500;
		letter-spacing: -0.88px;
		text-transform: uppercase;
		margin-top: 3rem;
		padding: 40px 0 20px 0;
		@include r(992) {
			margin: 0 !important;
		}
	}

	.button {
		border-radius: 4px;
		background: #33c38e;
		display: flex;
		padding: 8px 14px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		outline: none;
		border: none;
		span {
			color: #fff;
			font-family: Inter;
			font-size: 13px;
			font-weight: 400;
		}
	}
	.filter_field {
		overflow-x: auto;
		overflow-y: hidden;
		& > div {
			// width: 100%;
			@include r(479) {
				width: 100%;
			}
		}
		&.show {
			height: auto;
			animation:  show 0.5s cubic-bezier(.5, 0, .5, 1) both alternate;
		}
		&.close {
			height: 0;
			animation:  close 0.5s cubic-bezier(.5, 0, .5, 1) both alternate;
		}
		@keyframes show {
			from {
				opacity: 0;
				transform: translateX(500%);
			} to {
				opacity: 1;
				transform: translateX(0);
			}
		}
		@keyframes close {
			from {
				opacity: 1;
				transform: translateX(0);
			} to {
				opacity: 0;
				transform: translateX(500%);
			}
		}
		& > div {
			margin: 0 5px;
		}
		label {
			color: #7e7b7b;
			font-family: Inter;
			font-size: 12px;
			font-weight: 400;
			width: 100%;
		}
		input[type="text"] {
			border-radius: 4px;
			border: 1px solid #bfbaba;
			height: 34px;
			outline: none;
			padding: 0 5px;
			transition: all ease-in-out 0.5s;
			width: 100%;
			&:focus {
				// outline: none;
				border-color: #2044da;
			}
		}

		.toggle_button {
			display: inline-block;
			width: 45px;
			height: 18px;
			background-color: #ccc;
			border-radius: 30px;
			cursor: pointer;
			padding: 0;
			color: white;
		}

		#toggle {
			display: none;
		}

		.slider {
			display: block;
			font-size: 10px;
			position: relative;
		}

		.slider::after {
			content: "";
			width: 26px;
			height: 26px;
			background-color: #007dff;
			/*   border: 2px solid #fff; */
			border-radius: 50%;
			position: absolute;
			top: -4px;
			left: 0;
			display: grid;
			place-content: center;
			line-height: 0;
			transition: background-color 0.25s, transform 0.25s ease-in;
		}

		#toggle:checked + .slider::after {
			content: "";
			background-color: #007dff;
			transform: translateX(25px) rotate(360deg);
		}
		.top {
			color: #3ed67a;

			/* Body2 */
			font-family: Roboto;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px; /* 142.857% */
			letter-spacing: 0.15px;
		}
		.confirm {
			display: flex;
			height: 34px;
			padding: 8px 14px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			border-radius: 4px;
			background: #2044da;
			color: #fff;
			font-family: Inter;
			font-size: 13px;
			font-weight: 400;
			border: none;
		}
	}
}
