@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
#user_data {
	background: #f8f8f8;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	.wrapper {
		width: 50%;
		margin: 0 auto;
		background: #fff;
		border-radius: 24px;
		border: 1px solid#f1efef;
		@include r(850) {
			width: 95% !important;
		}
		@include r(1400) {
			width: 70%;
		}
		form {
			padding: 30px 80px 70px 70px;
			width: 100%;
			@include r(576) {
				padding: 20px;
			}
			.inputs {
				& > div {
					padding-right: 0 !important;
				}
				label {
					width: 100%;
					position: relative;
					cursor: text;
					input {
						border-radius: 12px;
						border: 1px solid #bcc7f4;
						padding: 15px 16px;
						padding-top: 20px;
						transition: all ease-in-out 0.3s;
						width: 100%;
						color: #49454f;
						font-family: "Roboto";
						font-size: 16px;
						font-weight: 400;
						line-height: 24px; /* 150% */
						letter-spacing: 0.5px;
						&:focus {
							outline: none;
							border: 1px solid #3858df;
						}
					}
					span {
						position: absolute;
						inset: 0;
						top: 4px;
						left: 16px;
						color: #a8a9ad;
						font-family: "Roboto";
						font-size: 12px;
						font-weight: 400;
						line-height: 16px; /* 133.333% */
					}
				}
			}
			._green_button {
				border-radius: 12px;
				background: #3ed67a;
				color: #fff;
				font-family: "Inter";
				font-size: 16px;
				font-weight: 400;
				line-height: 140%; /* 22.4px */
				padding: 15px 16px;
				width: 25%;
				border: none;
				margin-top: 80px;
				@include r(768) {
					width: 70%;
				}
				@include r(992) {
					width: 60%;
				}
			}
		}
		._title {
			color: #3858df;
			font-family: "Oswald";
			font-size: 44px;
			font-weight: 500;
			letter-spacing: -0.88px;
			text-align: center;
			@include r(768) {
				font-size: 30px;
			}
		}
		._white_title {
			color: #fff;
		}
		.blue_title {
			color: #3858df;
		}
	}
}
