  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
#verification {
	background: #f8f8f8;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	.wrapper {
		width: 50%;
		margin: 0 auto;
		background: #fff;
		border-radius: 24px;
		border: 1px solid#f1efef;
		@include r(850) {
			width: 95% !important;
		}
		@include r(1400) {
			width: 70%;
		}
		form {
			padding: 30px 80px 70px 70px;
			width: 100%;
			@include r(576) {
				padding: 20px;
			}

			.pin-container {
				display: flex;
				gap: 10px;
			}

			.pin-input {
				width: 56px;
				height: 56px;
				font-size: 16px;
				text-align: center;
				border: 1px solid #bcc7f4;
				border-radius: 12px;
				transition: all ease-in-out 0.3s;
				@include r(576) {
					width: 40px;
					height: 40px;
					border-radius: 8px;
				}
				&:focus {
					outline: none;
					border: 1px solid #3858df;
				}
			}
			._green_button {
				border-radius: 12px;
				background: #3ed67a;
				color: #fff;
				font-family: "Inter";
				font-size: 16px;
				font-weight: 400;
				line-height: 140%; /* 22.4px */
				padding: 15px 16px;
				width: 50%;
				border: none;
				margin-top: 80px;
				margin-bottom: 1rem;
				@include r(768) {
					width: 70%;
				}
				@include r(992) {
					width: 60%;
				}
			}
			._title {
				color: #3858df;
				font-family: "Oswald";
				font-size: 44px;
				font-weight: 500;
				letter-spacing: -0.88px;
				text-align: center;
				@include r(768) {
					font-size: 30px;
				}
			}
			._description {
				color: #7f93e7;
				font-family: "Oswald";
				font-size: 18px;
				font-weight: 400;
				letter-spacing: -0.36px;
				text-align: center;
				display: block;
			}
			._ver_code {
				color: #1895f3;
				font-family: "Oswald";
				font-size: 15px;
				font-weight: 400;
				letter-spacing: -0.36px;
				margin-top: 2rem;
				margin-bottom: 0.5rem;
			}
			._short_text {
				color: #b8c7d3;
				font-family: "Inter";
				font-size: 14px;
				font-weight: 400;
				line-height: 140%; /* 19.6px */
			}
			._white_title {
				color: #fff;
			}
			.blue_title {
				color: #3858df;
			}
		}
	}
}
