@@include("templates/header.html")
<section id="blog">
    <div class="container">
        <h1 class="title">BLOG</h1>
        <div class="breadcrumbs d-flex align-items-center">
            <a href="/">Bosh sahifa</a>
            <img src="./img/chevron.png" alt="chevron">
            <span>Blog</span>
        </div>
        <div class="row cards">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="img">
                        <img src="./img/blog.png" alt="img">
                    </div>
                    <p class="title">Раскрутка Инстаграм за деньги или Как заставить Истории в Insta работать на вас. Часть 2</p>
                    <hr>
                    <div class="bottom d-flex align-items-center">
                        <div class="left d-flex align-items-center">
                            <img src="./img/calendar.png" alt="date">
                            <span>15 июля 2020 г.</span>
                        </div>
                        <div class="right d-flex align-items-center">
                            <img src="./img/eye.png" alt="view">
                            <span>3223 (просмотров)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="img">
                        <img src="./img/blog.png" alt="img">
                    </div>
                    <p class="title">Раскрутка Инстаграм за деньги или Как заставить Истории в Insta работать на вас. Часть 2</p>
                    <hr>
                    <div class="bottom d-flex align-items-center">
                        <div class="left d-flex align-items-center">
                            <img src="./img/calendar.png" alt="date">
                            <span>15 июля 2020 г.</span>
                        </div>
                        <div class="right d-flex align-items-center">
                            <img src="./img/eye.png" alt="view">
                            <span>3223 (просмотров)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                 <div class="card">
                    <div class="img">
                        <img src="./img/blog.png" alt="img">
                    </div>
                    <p class="title">Раскрутка Инстаграм за деньги или Как заставить Истории в Insta работать на вас. Часть 2</p>
                    <hr>
                    <div class="bottom d-flex align-items-center">
                        <div class="left d-flex align-items-center">
                            <img src="./img/calendar.png" alt="date">
                            <span>15 июля 2020 г.</span>
                        </div>
                        <div class="right d-flex align-items-center">
                            <img src="./img/eye.png" alt="view">
                            <span>3223 (просмотров)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="img">
                        <img src="./img/blog.png" alt="img">
                    </div>
                    <p class="title">Раскрутка Инстаграм за деньги или Как заставить Истории в Insta работать на вас. Часть 2</p>
                    <hr>
                    <div class="bottom d-flex align-items-center">
                        <div class="left d-flex align-items-center">
                            <img src="./img/calendar.png" alt="date">
                            <span>15 июля 2020 г.</span>
                        </div>
                        <div class="right d-flex align-items-center">
                            <img src="./img/eye.png" alt="view">
                            <span>3223 (просмотров)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="img">
                        <img src="./img/blog.png" alt="img">
                    </div>
                    <p class="title">Раскрутка Инстаграм за деньги или Как заставить Истории в Insta работать на вас. Часть 2</p>
                    <hr>
                    <div class="bottom d-flex align-items-center">
                        <div class="left d-flex align-items-center">
                            <img src="./img/calendar.png" alt="date">
                            <span>15 июля 2020 г.</span>
                        </div>
                        <div class="right d-flex align-items-center">
                            <img src="./img/eye.png" alt="view">
                            <span>3223 (просмотров)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                 <div class="card">
                    <div class="img">
                        <img src="./img/blog.png" alt="img">
                    </div>
                    <p class="title">Раскрутка Инстаграм за деньги или Как заставить Истории в Insta работать на вас. Часть 2</p>
                    <hr>
                    <div class="bottom d-flex align-items-center">
                        <div class="left d-flex align-items-center">
                            <img src="./img/calendar.png" alt="date">
                            <span>15 июля 2020 г.</span>
                        </div>
                        <div class="right d-flex align-items-center">
                            <img src="./img/eye.png" alt="view">
                            <span>3223 (просмотров)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="img">
                        <img src="./img/blog.png" alt="img">
                    </div>
                    <p class="title">Раскрутка Инстаграм за деньги или Как заставить Истории в Insta работать на вас. Часть 2</p>
                    <hr>
                    <div class="bottom d-flex align-items-center">
                        <div class="left d-flex align-items-center">
                            <img src="./img/calendar.png" alt="date">
                            <span>15 июля 2020 г.</span>
                        </div>
                        <div class="right d-flex align-items-center">
                            <img src="./img/eye.png" alt="view">
                            <span>3223 (просмотров)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="img">
                        <img src="./img/blog.png" alt="img">
                    </div>
                    <p class="title">Раскрутка Инстаграм за деньги или Как заставить Истории в Insta работать на вас. Часть 2</p>
                    <hr>
                    <div class="bottom d-flex align-items-center">
                        <div class="left d-flex align-items-center">
                            <img src="./img/calendar.png" alt="date">
                            <span>15 июля 2020 г.</span>
                        </div>
                        <div class="right d-flex align-items-center">
                            <img src="./img/eye.png" alt="view">
                            <span>3223 (просмотров)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                 <div class="card">
                    <div class="img">
                        <img src="./img/blog.png" alt="img">
                    </div>
                    <p class="title">Раскрутка Инстаграм за деньги или Как заставить Истории в Insta работать на вас. Часть 2</p>
                    <hr>
                    <div class="bottom d-flex align-items-center">
                        <div class="left d-flex align-items-center">
                            <img src="./img/calendar.png" alt="date">
                            <span>15 июля 2020 г.</span>
                        </div>
                        <div class="right d-flex align-items-center">
                            <img src="./img/eye.png" alt="view">
                            <span>3223 (просмотров)</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
          <ul class="pagination pagination-sm">
            <li class="page-item"><a class="page-link" href="#" aria-label="Previous">&laquo;</a></li>
            <li class="page-item bold"><a class="page-link" href="#" aria-label="Previous">&lsaquo;</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link " href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <!-- <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item"><a class="page-link" href="#">7</a></li>
            <li class="page-item"><a class="page-link" href="#">8</a></li>-->
            <li class="page-item"><a class="page-link" href="#">10</a></li> 
            <li class="page-item bold"><a class="page-link" href="#" aria-label="Next">&rsaquo;</a></li>
            <li class="page-item"><a class="page-link" href="#" aria-label="Next">&raquo;</a></li>
          </ul>
    </div>
</section>
@@include("templates/footer.html")
