<div id="header_bg">@@include("templates/header.html")</div>

<!-- FAQ  -->
<div class="no-bg">
	<section id="FAQ">
		<div class="wrapper">
			<div class="container">
				<p class="title">F.A.Q.</p>
				<p class="desc text-center mx-auto">
					Как вы можете cебе представить, агенты по недвижимости каждый день
					задают довольно многоs вопросов. Люди от природы любопытны, и работа
					агента — направлять.
				</p>
				<ul class="accordion-list">
					<li>
						<h3>How can I build equity into my house?</h3>
						<div class="answer">
							<p>
								You can build equity in three ways. First (and easiest) is from
								market appreciation. Second, when making your monthly mortgage
								payment, try to send a little bit more.
							</p>
						</div>
					</li>
					<li>
						<h3>Are there any monthly fees?</h3>
						<div class="answer">
							<p>
								This will vary depending on the type of project. For logo &
								branding projects, fees will be one-time costs. For website
								projects, we will typically charge a monthly fee, depending on
								the level of service you choose. To view a full list of our
								monthly packages, click here.
							</p>
						</div>
					</li>
					<li>
						<h3>How big is an acre?</h3>
						<div class="answer">
							<p>
								You can build equity in three ways. First (and easiest) is from
								market appreciation. Second, when making your monthly mortgage
								payment, try to send a little bit more.
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>
<!-- FAQ -->
@@include("templates/footer.html")