@@include('templates/header.html')

<!-- main banner -->
<section id="main_banner">
		
		<div class="container-fluid wrapper" style="background: url('./img/header_smm.png') no-repeat top; background-size: cover" >
		
		<div class="container" >
			

			<div class="row align-items-center">
				<div class="col-md-4 left">
					<p data-splitting class="title">Bekko Media -</p>
					<p data-splitting class="desc">Nakrutka bo'yicha bozor yetakchisi</p>
					<div class="btns">
						<a class="arrow-btn-1 text-decoration-none" href="#"
							>Buyurtma berish</a
						>
						<a class="arrow-btn-2 text-decoration-none" href="#">Xizmatlar</a>
					</div>
					<div class="socials d-flex align-items-center">
						<img src="./img/spotify.png" alt="spotify" />
						<img src="./img/vk.png" alt="vkontakte" />
						<img src="./img/youtube.png" alt="youtube" />
						<img src="./img/instagram.png" alt="instagram" />
						<img src="./img/telegram.png" alt="telegram" />
						<img src="./img/tiktok.png" alt="tiktok" />
					</div>
				</div>
			<div class="col-md-7 ml-auto right" style="background: url('./img/header_ring.png'); background-size: cover;
			background-clip: padding-box;
			background-position-x: 2rem;
			background-repeat: no-repeat;">
					<div class="d-flex justify-content-between h-100 bannerAnimations">
						<div class="right_first_item">
							<div class="tiktok text-center">
								<div>
									<img src="./img/header_tiktok.png" alt="tiktok" />
								</div>
								<div class="img_flip d-flex align-items-center">
									<img
										class="rounded-circle img1"
										src="https://picsum.photos/30/30"
										alt="img1"
									/>
									<img
										class="rounded-circle img2"
										src="https://picsum.photos/30/31"
										alt="img2"
									/>
									<img
										class="rounded-circle img3"
										src="https://picsum.photos/30/32"
										alt="img3"
									/>
									<img
										class="rounded-circle img4"
										src="https://picsum.photos/30/33"
										alt="img4"
									/>
									<img
										class="rounded-circle img5"
										src="https://picsum.photos/30/34"
										alt="img5"
									/>
									<img
										class="rounded-circle img6"
										src="https://picsum.photos/30/35"
										alt="img6"
									/>
								</div>
								<div>
									<span class="span1">+1 mln</span>
									<span class="span2">obunachilar</span>
								</div>
							</div>
						</div>
						<div class="right_second_item">
							<div class="youtube d-flex align-items-center">
								<div>
									<img src="./img/header_youtube.png" alt="youtube" />
								</div>
								<div class="ml-2">
									<div class="img_flip d-flex align-items-center">
										<img
											class="rounded-circle img1"
											src="https://picsum.photos/30/30"
											alt="img1"
										/>
										<img
											class="rounded-circle img2"
											src="https://picsum.photos/30/31"
											alt="img2"
										/>
										<img
											class="rounded-circle img3"
											src="https://picsum.photos/30/32"
											alt="img3"
										/>
										<img
											class="rounded-circle img4"
											src="https://picsum.photos/30/33"
											alt="img4"
										/>
										<img
											class="rounded-circle img5"
											src="https://picsum.photos/30/34"
											alt="img5"
										/>
										<img
											class="rounded-circle img6"
											src="https://picsum.photos/30/35"
											alt="img6"
										/>
									</div>
									<div class="spans">
										<span class="span1">+10 mln</span>
										<span class="span2">obunachilar</span>
									</div>
								</div>
							</div>
							<div class="smm_provider position-relative">
								<div>
									<img src="./img/header_smmprovider.png" alt="smm_provider" />
								</div>
								<div>
									<span class="span1">SMM provider</span>
									<span class="span2">N1</span>
								</div>
								<div class="position-absolute nav_img">
									<img src="./img/header_nav.png" alt="smm_nav" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="diagonal_menu position-relative" id="diagonal">

	</div>
</section>
<!-- main banner -->

<!-- nima uchun Bekko Media  -->
<!--  data-aos="zoom-in-down" data-aos-duration="1000" -->
<section id="why_bekko">
	<div class="container" >
		<p data-splitting class="title">NIma uchun BEkko media?</p>
		<div class="row items">
			<div class="col-auto oddBoxCard"  id="boxCard">
				<div>
					<div class="texts">
						<p class="text">Специальные условия для реселлеров</p>
					</div>
				<p class="desc">
					Подборка самых продаваемых услуг, Dashboard со статистикой заказов а
					также премиум-поддержка
				</p>	
				<div class="d-flex align-items-center justify-content-center">
					<img loading="lazy" src="./img/why_bekko_logo.png" alt="bekko_logo" />
				</div>
				</div>
			</div>
			<div class="col-auto evenBoxCard" id="boxCard">
				<div>
					<div class="d-flex align-items-center justify-content-center">
						<img loading="lazy" src="./img/why_bekko_logo.png" alt="bekko_logo" />
					</div>
					<p class="text">Специальные условия для реселлеров</p>
					<p class="desc">
						Подборка самых продаваемых услуг, Dashboard со статистикой заказов а
						также премиум-поддержка
					</p>
				</div>
			</div>
			<div class="col-auto oddBoxCard" id="boxCard">
				<div>
					<p class="text">Специальные условия для реселлеров</p>
				<p class="desc">
					Подборка самых продаваемых услуг, Dashboard со статистикой заказов а
					также премиум-поддержка
				</p>
				<di class="d-flex align-items-center justify-content-center">
					<img loading="lazy" src="./img/why_bekko_logo.png" alt="bekko_logo" />
				</di	v>
				</div>
			</div>
			<div class="col-auto evenBoxCard" id="boxCard">
				<div>
					<div class="d-flex align-items-center justify-content-center">
						<img loading="lazy" src="./img/why_bekko_logo.png" alt="bekko_logo" />
					</div>
					<p class="text">Специальные условия для реселлеров</p>
					<p class="desc">
						Подборка самых продаваемых услуг, Dashboard со статистикой заказов а
						также премиум-поддержка
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="ads " id="ads" data-aos="fade-up"
	data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
		<!-- <span class="green">Nakrutka</span>
		<span class="green"> bo'yicha</span>
		<span class="yellow">bozor </span>
		<span class="yellow">yetakchisi </span> -->
	</div>
</section>
<!-- nima uchun Bekko Media  -->

<!-- Bizning xizmatlar -->
<section  id="services" style="background: url('/img/services_bg.png'),
linear-gradient(180deg, #4063f7 0%, #071551 100%);
background-size: cover;">
	<div class="container"  data-aos="fade-down" data-aos-duration="1000">
		<p class="title">Bizning xizmatlar</p>
		<div class="socials d-flex align-items-center justify-content-center">
			<div @click="currentIndex=1"
				class="box rounded-circle d-flex align-items-center justify-content-center"
			>
				<div :class="{'onhover' : currentIndex===1}"
					class="inline_box d-flex align-items-center justify-content-center bg-white rounded-circle"
				>
					<img loading="lazy" src="./img/services_instagram.png" alt="instagram" />
				</div>
			</div>
			<div @click="currentIndex=2"
				class="box rounded-circle text-center d-flex align-items-center justify-content-center"
			>
				<div :class="{'onhover' : currentIndex===2}"
					class="inline_box d-flex align-items-center justify-content-center bg-white rounded-circle"
				>
					<img loading="lazy" src="./img/telegram.png" alt="telegram" />
				</div>
			</div>
			<div @click="currentIndex=3"
				class="box rounded-circle text-center d-flex align-items-center justify-content-center"
			>
				<div :class="{'onhover' : currentIndex===3}"
					class="inline_box d-flex align-items-center justify-content-center bg-white rounded-circle"
				>
					<img loading="lazy" src="./img/youtube.png" alt="youtube" />
				</div>
			</div>
			<div @click="currentIndex=4"
				class="box rounded-circle text-center d-flex align-items-center justify-content-center"
			>
				<div :class="{'onhover' : currentIndex===4}"
					class="inline_box d-flex align-items-center justify-content-center bg-white rounded-circle"
				>
					<img loading="lazy" src="./img/services_tiktok.png" alt="tiktok" />
				</div>
			</div>
			<div @click="currentIndex=5"
				class="box rounded-circle text-center d-flex align-items-center justify-content-center"
			>
				<div :class="{'onhover' : currentIndex===5}"
					class="inline_box d-flex align-items-center justify-content-center bg-white rounded-circle"
				>
					<img loading="lazy" src="./img/vk.png" alt="vkontakte" />
				</div>
			</div>
			<div @click="currentIndex=6"
				class="box rounded-circle text-center d-flex align-items-center justify-content-center"
			>
				<div :class="{'onhover' : currentIndex===6}"
					class="inline_box d-flex align-items-center justify-content-center bg-white rounded-circle"
				>
					<img loading="lazy" src="./img/services_twitter.png" alt="twitter" />
				</div>
			</div>
		</div>
		<div class="row cards" >
			<div class="col-lg-4 col-md-6">
				<div class="bg-white">
					<div class="row">
						<div class="col-6 left">
							<p class="inline_title">Instagram Like</p>
							<div class="d-flex align-items-center first">
								<div>
									<img loading="lazy" src="./img/subscribers.png" alt="subscribers" />
								</div>
								<div class="ml-1">
									<p id="expanded_title" class="name expanded">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
									<p class="price">10 000 so’mdan</p>
								</div>
							</div>
							<div class="d-flex align-items-center">
								<div>
									<img loading="lazy" src="./img/services.png" alt="services" />
								</div>
								<div class="ml-1">
									<p id="expanded_title" class="name expanded">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores dolores ab quod atque earum necessitatibus natus autem consequuntur ad possimus accusamus blanditiis vitae error modi velit, nesciunt voluptate distinctio illum!</p>
									<p class="price">10 000 so’mdan</p>
								</div>
							</div>
						</div>
						<div class="col-6 right">
							<div class="bg">
								<img loading="lazy" class="d-block logo_img_blue" src="./img/services_nav.png" alt="arrow">
								<img loading="lazy" class="d-none  logo_img_white" src="./img/services_nav_green.png" alt="arrow">
							</div>
							<div class="d-flex align-items-center arrow justify-content-end">
								<img loading="lazy" class="d-block logo_img_blue" src="./img/arrow.png" alt="arrow" />
								<img loading="lazy" class="d-none logo_img_white" src="./img/arrow_right_white.png" alt="arrow" />
							</div>
							<div
								class="d-flex align-items-center logo justify-content-end w-100"
							>
								<img loading="lazy"
									class="d-block logo_img_blue"
									src="./img/services_logo.png"
									alt="bekko_logo"
								/>
								<img loading="lazy"
									class="d-none logo_img_white"
									src="./img/logo_white.png"
									alt="bekko_logo"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="bg-white">
					<div class="row">
						<div class="col-6 left">
							<p class="inline_title">Obunachilar</p>
							<div class="d-flex align-items-center first">
								<div>
									<img loading="lazy" src="./img/subscribers.png" alt="subscribers" />
								</div>
								<div class="ml-1">
									<p id="expanded_title" class="name expanded">Obunachilar</p>
									<p class="price">10 000 so’mdan</p>
								</div>
							</div>
							<div class="d-flex align-items-center">
								<div>
									<img loading="lazy" src="./img/services.png" alt="services" />
								</div>
								<div class="ml-1">
									<p id="expanded_title" class="name expanded">Obunachilar</p>
									<p class="price">10 000 so’mdan</p>
								</div>
							</div>
						</div>
						<div class="col-6 right">
							<div class="bg">
								<img loading="lazy" class="d-block logo_img_blue" src="./img/services_nav.png" alt="arrow">
								<img loading="lazy" class="d-none  logo_img_white" src="./img/services_nav_green.png" alt="arrow">
							</div>
							<div class="d-flex align-items-center arrow justify-content-end">
								<img loading="lazy" class="d-block logo_img_blue" src="./img/arrow.png" alt="arrow" />
								<img loading="lazy" class="d-none logo_img_white" src="./img/arrow_right_white.png" alt="arrow" />
							</div>
							<div
								class="d-flex align-items-center logo justify-content-end w-100"
							>
								<img loading="lazy"
									class="d-block logo_img_blue"
									src="./img/services_logo.png"
									alt="bekko_logo"
								/>
								<img loading="lazy"
									class="d-none logo_img_white"
									src="./img/logo_white.png"
									alt="bekko_logo"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="bg-white">
					<div class="row">
						<div class="col-6 left">
							<p class="inline_title">Obunachilar</p>
							<div class="d-flex align-items-center first">
								<div>
									<img loading="lazy" src="./img/subscribers.png" alt="subscribers" />
								</div>
								<div class="ml-1">
									<p id="expanded_title" class="name expanded">Obunachilar</p>
									<p class="price">10 000 so’mdan</p>
								</div>
							</div>
							<div class="d-flex align-items-center">
								<div>
									<img loading="lazy" src="./img/services.png" alt="services" />
								</div>
								<div class="ml-1">
									<p id="expanded_title" class="name expanded">Obunachilar</p>
									<p class="price">10 000 so’mdan</p>
								</div>
							</div>
						</div>
						<div class="col-6 right">
							<div class="bg">
								<img  loading="lazy"class="d-block logo_img_blue" src="./img/services_nav.png" alt="arrow">
								<img loading="lazy" class="d-none  logo_img_white" src="./img/services_nav_green.png" alt="arrow">
							</div>
							<div class="d-flex align-items-center arrow justify-content-end">
								<img loading="lazy" class="d-block logo_img_blue" src="./img/arrow.png" alt="arrow" />
								<img loading="lazy" class="d-none logo_img_white" src="./img/arrow_right_white.png" alt="arrow" />
							</div>
							<div
								class="d-flex align-items-center logo justify-content-end w-100"
							>
								<img loading="lazy"
									class="d-block logo_img_blue"
									src="./img/services_logo.png"
									alt="bekko_logo"
								/>
								<img loading="lazy"
									class="d-none logo_img_white"
									src="./img/logo_white.png"
									alt="bekko_logo"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="bg-white">
					<div class="row">
						<div class="col-6 left">
							<p class="inline_title">Obunachilar</p>
							<div class="d-flex align-items-center first">
								<div>
									<img  loading="lazy"src="./img/subscribers.png" alt="subscribers" />
								</div>
								<div class="ml-1">
									<p id="expanded_title" class="name expanded">Obunachilar</p>
									<p class="price">10 000 so’mdan</p>
								</div>
							</div>
							<div class="d-flex align-items-center">
								<div>
									<img loading="lazy" src="./img/services.png" alt="services" />
								</div>
								<div class="ml-1">
									<p id="expanded_title" class="name expanded">Obunachilar</p>
									<p class="price">10 000 so’mdan</p>
								</div>
							</div>
						</div>
						<div class="col-6 right">
							<div class="bg">
								<img loading="lazy" class="d-block logo_img_blue" src="./img/services_nav.png" alt="arrow">
								<img loading="lazy" class="d-none  logo_img_white" src="./img/services_nav_green.png" alt="arrow">
							</div>
							<div class="d-flex align-items-center arrow justify-content-end">
								<img loading="lazy" class="d-block logo_img_blue" src="./img/arrow.png" alt="arrow" />
								<img loading="lazy" class="d-none logo_img_white" src="./img/arrow_right_white.png" alt="arrow" />
							</div>
							<div
								class="d-flex align-items-center logo justify-content-end w-100"
							>
								<img loading="lazy"
									class="d-block logo_img_blue"
									src="./img/services_logo.png"
									alt="bekko_logo"
								/>
								<img loading="lazy"
									class="d-none logo_img_white"
									src="./img/logo_white.png"
									alt="bekko_logo"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="bg-white">
					<div class="row">
						<div class="col-6 left">
							<p class="inline_title">Obunachilar</p>
							<div class="d-flex align-items-center first">
								<div>
									<img loading="lazy" src="./img/subscribers.png" alt="subscribers" />
								</div>
								<div class="ml-1">
									<p id="expanded_title" class="name expanded">Obunachilar</p>
									<p class="price">10 000 so’mdan</p>
								</div>
							</div>
							<div class="d-flex align-items-center">
								<div>
									<img loading="lazy" src="./img/services.png" alt="services" />
								</div>
								<div class="ml-1">
									<p id="expanded_title" class="name expanded">Obunachilar</p>
									<p class="price">10 000 so’mdan</p>
								</div>
							</div>
						</div>
						<div class="col-6 right">
							<div class="bg">
								<img loading="lazy" class="d-block logo_img_blue" src="./img/services_nav.png" alt="arrow">
								<img loading="lazy" class="d-none  logo_img_white" src="./img/services_nav_green.png" alt="arrow">
							</div>
							<div class="d-flex align-items-center arrow justify-content-end">
								<img loading="lazy" class="d-block logo_img_blue" src="./img/arrow.png" alt="arrow" />
								<img loading="lazy" class="d-none logo_img_white" src="./img/arrow_right_white.png" alt="arrow" />
							</div>
							<div
								class="d-flex align-items-center logo justify-content-end w-100"
							>
								<img loading="lazy"
									class="d-block logo_img_blue"
									src="./img/services_logo.png"
									alt="bekko_logo"
								/>
								<img loading="lazy"
									class="d-none logo_img_white"
									src="./img/logo_white.png"
									alt="bekko_logo"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="bg-white">
					<div class="row">
						<div class="col-6 left">
							<p class="inline_title">Obunachilar</p>
							<div class="d-flex align-items-center first">
								<div>
									<img loading="lazy" src="./img/subscribers.png" alt="subscribers" />
								</div>
								<div class="ml-1">
									<p id="expanded_title" class="name expanded">Obunachilar</p>
									<p class="price">10 000 so’mdan</p>
								</div>
							</div>
							<div class="d-flex align-items-center">
								<div>
									<img  loading="lazy"src="./img/services.png" alt="services" />
								</div>
								<div class="ml-1">
									<p id="expanded_title" class="name expanded">Obunachilar</p>
									<p class="price">10 000 so’mdan</p>
								</div>
							</div>
						</div>
						<div class="col-6 right">
							<div class="bg">
								<img loading="lazy" class="d-block logo_img_blue" src="./img/services_nav.png" alt="arrow">
								<img loading="lazy" class="d-none  logo_img_white" src="./img/services_nav_green.png" alt="arrow">
							</div>
							<div class="d-flex align-items-center arrow justify-content-end">
								<img loading="lazy" class="d-block logo_img_blue" src="./img/arrow.png" alt="arrow" />
								<img loading="lazy" class="d-none logo_img_white" src="./img/arrow_right_white.png" alt="arrow" />
							</div>
							<div
								class="d-flex align-items-center logo justify-content-end w-100"
							>
								<img loading="lazy"
									class="d-block logo_img_blue"
									src="./img/services_logo.png"
									alt="bekko_logo"
								/>
								<img loading="lazy"
									class="d-none logo_img_white"
									src="./img/logo_white.png"
									alt="bekko_logo"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Bizning xizmatlar -->

<!-- Carousel -->
<section id="carousel" class="container"   data-aos="zoom-in-down" data-aos-duration="1000" style="background-image: url('/img/map.png');
background-repeat: no-repeat;
background-size: contain;">
	<div class="blog-slider">
		<div class="blog-slider__wrp swiper-wrapper">
		  <div class="blog-slider__item swiper-slide">
			<div class="blog-slider__img">
			  
			  <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="">
			</div>
			<div class="blog-slider__content">
			  <div class="blog-slider__title">Прокачать узнаваемость</div>
			  <div class="blog-slider__text">Использование нашего сайта поможет прокачать узнаваемость вашего бренда, поспособствует росту продаж (за счет более высокого ранжирования), повысит рейтинг приложения и т.д. </div>
			  <div class="info d-flex align-items-center">
				<div class="left d-flex align-items-center">
					<img src="./img/subscribers_light.png" alt="subscribers" />
					<div>
						<p class="name">Obunachilar</p>
						<p class="price">10 000 so'mdan</p>
					</div>
				</div>
				<div class="righ d-flex align-items-center">
					<img src="./img/services_light.png" alt="services" />
					<div>
						<p class="name">Obunachilar</p>
						<p class="price">10 000 so'mdan</p>
					</div>
				</div>
			</div>

			</div>
		  </div>
		  <div class="blog-slider__item swiper-slide">
			<div class="blog-slider__img">
			  <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/jason-leung-798979-unsplash.webp" alt="">
			</div>
			<div class="blog-slider__content">
			  <div class="blog-slider__title">Прокачать узнаваемость</div>
			  <div class="blog-slider__text">Использование нашего сайта поможет прокачать узнаваемость вашего бренда, поспособствует росту продаж (за счет более высокого ранжирования), повысит рейтинг приложения и т.д. </div>
			  <div class="info d-flex align-items-center">
				<div class="left d-flex align-items-center">
					<img src="./img/subscribers_light.png" alt="subscribers" />
					<div>
						<p class="name">Obunachilar</p>
						<p class="price">10 000 so'mdan</p>
					</div>
				</div>
				<div class="righ d-flex align-items-center">
					<img src="./img/services_light.png" alt="services" />
					<div>
						<p class="name">Obunachilar</p>
						<p class="price">10 000 so'mdan</p>
					</div>
				</div>
			</div>

			</div>
		  </div>
		  
		  <div class="blog-slider__item swiper-slide">
			<div class="blog-slider__img">
			  <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/alessandro-capuzzi-799180-unsplash.webp" alt="">
			</div>
			<div class="blog-slider__content">
			  <div class="blog-slider__title">Прокачать узнаваемость</div>
			  <div class="blog-slider__text">Использование нашего сайта поможет прокачать узнаваемость вашего бренда, поспособствует росту продаж (за счет более высокого ранжирования), повысит рейтинг приложения и т.д. </div>
			  <div class="info d-flex align-items-center">
				<div class="left d-flex align-items-center">
					<img src="./img/subscribers_light.png" alt="subscribers" />
					<div>
						<p class="name">Obunachilar</p>
						<p class="price">10 000 so'mdan</p>
					</div>
				</div>
				<div class="righ d-flex align-items-center">
					<img src="./img/services_light.png" alt="services" />
					<div>
						<p class="name">Obunachilar</p>
						<p class="price">10 000 so'mdan</p>
					</div>
				</div>
			</div>

			</div>
		  </div>
		  
		</div>
		<div class="blog-slider__pagination"></div>
	  </div>
</section>
<!-- Carousel -->

<!-- how_to_work -->
<section  id="how_work" style="background: url('/img/services_bg.png'),
linear-gradient(180deg, #4063f7 0%, #071551 100%);
background-size: cover;">

<img class="dot-snake" src="./img/how_work_line.png" alt="">
	<div class="container">
		<p data-splitting class="head-title">Как работать с сайтом?</p>
		<div class="how_work_cards row gap-0">
			<div class="col-lg-3 col-md-6 card-table">
				<div  class="card1 card" style="background: url('/img/why_card_bg.png'), #fff;
				background-size: contain;
				background-repeat: no-repeat;">
					<div class="d-flex align-items-center justify-content-center">
						<img loading="lazy" src="./img/why_card_contact.png" alt="contact" />
					</div>
					<p class="title">Создайте аккаунт Lorem ipsum dolor sit amet.</p>
					<p class="desc">
						<!-- Подборка самых продаваемых услуг, Dashboard со статистикой заказов а
						также премиум-поддержка -->
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime sint doloremque porro vitae eaque veritatis debitis incidunt quia fugit libero optio blanditiis officiis quod, natus eligendi id corrupti consequuntur? In sint fugit voluptatum cum minima enim, ab suscipit impedit placeat, accusantium earum odio facere voluptas rem omnis, modi consequuntur molestias!
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="card2 card" >
					<div class="d-flex align-items-center justify-content-center">
						<img loading="lazy" src="./img/why_card_contact.png" alt="contact" />
					</div>
					<p class="title">Создайте аккаунт</p>
					<p class="desc">
						Подборка самых продаваемых услуг, Dashboard со статистикой заказов а
						также премиум-поддержка
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="card3 card" >
					<div class="d-flex align-items-center justify-content-center">
						<img loading="lazy" src="./img/why_card_contact.png" alt="contact" />
					</div>
					<p class="title">Создайте аккаунт</p>
					<p class="desc">
						Подборка самых продаваемых услуг, Dashboard со статистикой заказов а
						также премиум-поддержка
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="card4 card">
					<div class="d-flex align-items-center justify-content-center">
						<img loading="lazy" src="./img/why_card_contact.png" alt="contact" />
					</div>
					<p class="title">Создайте аккаунт</p>
					<p class="desc">
						Подборка самых продаваемых услуг, Dashboard со статистикой заказов а
						также премиум-поддержка
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- how_to_work -->

<!-- second_banner -->
<section id="second_banner">
	<div class="wrapper container"  data-aos="fade-down" data-aos-duration="1000">
		<div class="shadow_text">
			<p>Возможность увеличить узнаваемость вашего бренда или продукта</p>
		</div>
		<div class="row cards align-items-center">
			<div class="col-lg-6 left">
				<p class="title">
					Возможность увеличить узнаваемость вашего бренда или продукта
				</p>
				<p class="desc">
					В наше время существует множество социальных сетей, в которых миллионы
					людей хотят быть известными и получать внимание от своих
					соотечественников и зарубежных друзей. Однако вопрос о том, как
					быстрее добиться этого внимания, остается открытым. Благодаря развитию
					технологий и SMM-индустрии появилось множество сервисов, предлагающих
					услуги сомнительного качества и по завышенным ценам. Однако мы
					отличаемся от других сервисов тем, что предоставляем качественные
					услуги широкого спектра, круглосуточную информационную поддержку и
					самые привлекательные цены.
				</p>
			</div>
			<div class="col-lg-4 offset-2 right text-right" style="background: url('/img/second_banner_card.png'),
			linear-gradient(138deg, #78f4a9 0%, #26b860 100%);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;">
				<div></div>
			</div>
		</div>
	</div>
</section>
<!-- second_banner -->

<!-- FAQ  -->
<section id="FAQ" style="background: url('/img/services_bg.png'),
linear-gradient(180deg, #fbfbfb 0%, #fbfbfb 100%);
background-size: cover;">
	<div class="container"  data-aos="fade-down" data-aos-duration="1000">
		<p class="title mtop">F.A.Q.</p>
		<p class="desc text-center mx-auto">
			Как вы можете себе представить, агенты по недвижимости каждый день задают
			довольно много вопросов. Люди от природы любопытны, и работа агента —
			направлять.
		</p>
		<ul class="accordion-list">
			<li>
				<h3>How can I build equity into my house?</h3>
				<div class="answer">
					<p>
						You can build equity in three ways. First (and easiest) is from
						market appreciation. Second, when making your monthly mortgage
						payment, try to send a little bit more.
					</p>
				</div>
			</li>
			<li>
				<h3>Are there any monthly fees?</h3>
				<div class="answer">
					<p>
						This will vary depending on the type of project. For logo & branding
						projects, fees will be one-time costs. For website projects, we will
						typically charge a monthly fee, depending on the level of service
						you choose. To view a full list of our monthly packages, click here.
					</p>
				</div>
			</li>
			<li>
				<h3>How big is an acre?</h3>
				<div class="answer">
					<p>
						You can build equity in three ways. First (and easiest) is from
						market appreciation. Second, when making your monthly mortgage
						payment, try to send a little bit more.
					</p>
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- FAQ -->
@@include('templates/footer.html')
