@@include("templates/header.html")
<section id="login">
	<div
		id="wrapper"
		class="wrapper hidden md:flex items-center h-screen justify-center content-center"
	>
		<div class="container-login _desktop_screen" id="container-login">
			<div class="form-container sign-up-container">
				<form action="#">
					<h1 class="_title _blue_title">Create Account</h1>
					<div class="social-container">
						<a href="#" class="social">
							<img src="./img/facebook.png" alt="facebook" />
						</a>
						<a href="#" class="social">
							<img src="./img/google.png" alt="google" />
						</a>
						<a href="#" class="social">
							<img src="./img/linkedin.png" alt="linkedin" />
						</a>
					</div>
					<span class="span text-[#7F93E7] text-base font-[Oswald] font-normal"
						>or use your account</span
					>
					<input type="text" placeholder="Name" />
					<input type="email" placeholder="Email" />
					<input type="password" placeholder="Password" />
					<button class="_green_button">Sign Up</button>
				</form>
			</div>
			<div class="form-container sign-in-container">
				<form action="#">
					<h1 class="_title _blue_title">Sign in</h1>
					<div class="social-container">
						<a href="#" class="social">
							<img src="./img/facebook.png" alt="facebook" />
						</a>
						<a href="#" class="social">
							<img src="./img/google.png" alt="google" />
						</a>
						<a href="#" class="social">
							<img src="./img/linkedin.png" alt="linkedin" />
						</a>
					</div>
					<span class="span text-[#7F93E7] text-base font-[Oswald] font-normal"
						>or use your account</span
					>
					<input type="email" placeholder="Email" />
					<input type="password" placeholder="Password" />
					<a class="a text-[#1895F3]" href="#">Forgot your password?</a>
					<button class="_green_button">Submit</button>
				</form>
			</div>
			<div class="overlay-container">
				<div class="overlay">
					<div class="overlay-panel overlay-left">
						<h1 class="_title _white_title">Welcome Back!</h1>
						<p
							class="p text-[#A8B5ED] font-[Oswald] 2xl:text-lg text-base font-normal"
						>
							To keep connected with us please login with your personal info
						</p>
						<button class="_transparent_button" id="signIn">Sign In</button>
					</div>
					<div class="overlay-panel overlay-right">
						<h1 class="_title _white_title">Hello, Friend!</h1>
						<p
							class="p text-[#A8B5ED] font-[Oswald] 2xl:text-lg text-base font-normal"
						>
							Enter your personal details and start journey with us
						</p>
						<button class="_transparent_button" id="signUp">Submit</button>
					</div>
				</div>
			</div>
		</div>
		<div id="login_form_vue" class="_mobile_screen">
			<form action="#" v-if="currentIndex===1">
				<h1 class="_blue_title text-center _title">Sign in</h1>
				<div class="social-container text-center">
					<a href="#" class="social">
						<img src="./img/facebook.png" alt="facebook" />
					</a>
					<a href="#" class="social">
						<img src="./img/google.png" alt="google" />
					</a>
					<a href="#" class="social">
						<img src="./img/linkedin.png" alt="linkedin" />
					</a>
				</div>
				<span
					class="span text-[#7F93E7] text-base font-[Oswald] font-normal text-center"
					>or use your account</span
				>
				<input type="text" name="" id="" />
				<input type="text" name="" id="" />
				<div class="d-flex align-items-center justify-content-center">
					<button class="_green_button">Submit</button>
				</div>

				<a class="link text-center" href="#">Forgot your password?</a>

				<a class="link text-center" @click="currentIndex=2" href="#"
					>Don't have an account?</a
				>
			</form>
			<form action="#" class="" v-if="currentIndex===2">
				<!-- <h1 class="h1">Create Account</h1> -->
				<h1 class="_blue_title _title text-center">Create Account</h1>
				<div class="social-container text-center">
					<a href="#" class="social">
						<img src="./img/facebook.png" alt="facebook" />
					</a>
					<a href="#" class="social">
						<img src="./img/google.png" alt="google" />
					</a>
					<a href="#" class="social">
						<img src="./img/linkedin.png" alt="linkedin" />
					</a>
				</div>
				<!-- <span class="span">or use your email for registration</span> -->
				<span
					class="span text-[#7F93E7] text-base font-[Oswald] font-normal text-center"
					>or use your account</span
				>
				<input type="text" name="" id="" />
				<input type="text" name="" id="" />
				<input type="text" name="" id="" />
				<!-- <button class="login-button">Sign Up</button> -->
				<div class="d-flex align-items-center justify-content-center">
					<button class="_green_button">Sign Up</button>
				</div>
				<a @click="currentIndex=1" class="link text-center" href="#"
					>Already have an account?</a
				>
			</form>
		</div>
	</div>
</section>
<div style="display: none">@@include("templates/footer.html")</div>
