@@include("templates/header.html")
<section id="ourServices">
	<div class="container">
		<h1 class="title">Bizning xizmatlar</h1>
		<div class="breadcrumbs d-flex align-items-center">
			<a href="/">Bosh sahifa</a>
			<img src="./img/chevron.png" alt="chevron" />
			<span>Bizning xizmatlar</span>
		</div>
		<div class="bg-white table">
			<div class="d-flex align-items-center justify-content-between">
				<h2 class="name">Список услуг</h2>
				<button class="button">
					<img src="./img/cart.png" alt="cart" />
					<span>Новый заказ</span>
				</button>
			</div>

			<hr />
			<div class="top-bar d-flex align-items-center justify-content-between">
				<div class="d-flex align-items-center">
					<button @click="isVisibleFilter = !isVisibleFilter" class="filter">
						<img src="./img/filter.png" alt="filter" />
						<span>Фильтры</span>
					</button>
					<button class="reset">
						<img src="./img/reset.png" alt="reset" />
						<span>Сбросить</span>
					</button>
				</div>
				<div>
					<button class="count">
						<span>Кол-во: </span>
						<span>
							<select name="" id="">
								<option value="">20</option>
								<option value="">30</option>
								<option value="">40</option>
								<option value="">50</option>
							</select>
							<!-- <select class="custom-select">
                                <option value="20" selected>20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select> -->
						</span>
					</button>
				</div>
			</div>
			<div :class="[isVisibleFilter ? 'show' : 'close']" class="filter_field d-flex align-items-center justify-content-start flex-wrap">
				<div>
					<label for="id">
						<span class="d-block">Id</span>
						<input type="text" id="id" />
					</label>
				</div>
				<div>
					<label for="group">
						<span class="d-block">Группа</span>
						<input type="text" id="group" />
					</label>
				</div>
				<div>
					<label for="price">
						<span class="d-block">Цена</span>
						<input type="text" id="price" />
					</label>
				</div>
				<div>
					<label for="min">
						<span class="d-block">Минимум</span>
						<input type="text" id="min" />
					</label>
				</div>
				<div>
					<label for="max">
						<span class="d-block">Максимум</span>
						<input type="text" id="max" />
					</label>
				</div>
				<div>
					<label for="desc">
						<span class="d-block">Описание</span>
						<input type="text" name="" id="desc" />
					</label>
				</div>
				<div class="d-flex align-items-center justify-content-between">
					<label for="toggle" class="toggle_button mt-3">
						<input type="checkbox" id="toggle" />
						<span class="slider"></span>
					</label>
					<span class="d-block mt-2 ml-2 top">Топ</span>
				</div>
				<div>
					<button class="confirm">
						Применить
					</button>
				</div>
			</div>
			<div class="results">
				<span>Показаны записи <b>1-20</b> из <b>36</b>.</span>
			</div>
			<div style="overflow-x: auto;">
				<table>
					<thead>
						<tr>
							<th>
								<div class="d-flex align-items-center justify-content-between short">
									<span>ID</span>
									<span><img src="./img/table_arrow.png" alt="arrow" /></span>
								</div>
							</th>
							<th>
								<div class="d-flex align-items-center justify-content-between short">
									<span>Категория</span>
									<span><img src="./img/table_arrow.png" alt="arrow" /></span>
								</div>
							</th>
							<th>
								<div class="d-flex align-items-center justify-content-between short">
									<span>Группа</span>
									<span><img src="./img/table_arrow.png" alt="arrow" /></span>
								</div>
							</th>
							<th>
								<div class="d-flex align-items-center justify-content-between middle">
									<span>Услуга</span>
									<span><img src="./img/table_arrow.png" alt="arrow" /></span>
								</div>
							</th>
							<th>
								<div class="d-flex align-items-center justify-content-between long">
									<span>Описание</span>
									<span><img src="./img/table_arrow.png" alt="arrow" /></span>
								</div>
							</th>
							<th style="width: 150px">
								<div class="d-flex align-items-center justify-content-between long">
									<span>Цена за 1000</span>
									<span><img src="./img/table_arrow.png" alt="arrow" /></span>
								</div>
							</th>
							<th>
								<div class="d-flex align-items-center justify-content-between short">
									<span>Мин.</span>
									<span><img src="./img/table_arrow.png" alt="arrow" /></span>
								</div>
							</th>
							<th>
								<div class="d-flex align-items-center justify-content-between short">
									<span>Макс</span>
									<span><img src="./img/table_arrow.png" alt="arrow" /></span>
								</div>
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="short">181</td>
							<td class="short">Instagram</td>
							<td class="short">Подписчики Инстаграм</td>
							<td class="middle">Подписчики Инстаграм [50K] AR30</td>
							<td class="long">
								Подписчики инстаграм - Мгновенный старт, скорость выполнения 5к
								в час. Без списаний. Авторефилл 30 дней.
							</td>
							<td class="middle">56,57 руб.(~$0.6251)</td>
							<td class="short">10</td>
							<td class="short">50 000</td>
							<td class="short">
								<button class="button">
									<img src="./img/cart.png" alt="cart" />
									<span>Приобрести</span>
								</button>
							</td>
						</tr>
						<tr>
							<td class="short">181</td>
							<td class="short">Instagram</td>
							<td class="short">Подписчики Инстаграм</td>
							<td class="middle">Подписчики Инстаграм [50K] AR30</td>
							<td class="long">
								Подписчики инстаграм - Мгновенный старт, скорость выполнения 5к
								в час. Без списаний. Авторефилл 30 дней.
							</td>
							<td class="middle">56,57 руб.(~$0.6251)</td>
							<td class="short">10</td>
							<td class="short">50 000</td>
							<td class="short">
								<button class="button">
									<img src="./img/cart.png" alt="cart" />
									<span>Приобрести</span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="pagination"></div>
	</div>
</section>
@@include("templates/footer.html")