@@include("templates/header.html")
<section id="user_data">
<div class="wrapper container">
  <form>
    <h1 class="_title _blue_title">User Data</h1>
    <div class="row inputs">
        <div class="col-12 col-md-6">
            <label for="input1">
                <span>Email</span>
                <input type="text" name="" id="input1">
            </label>
        </div>
        <div class="col-12 col-md-6">
            <label for="input2">
                <span>Email</span>
                <input type="text" name="" id="input2">
            </label>
        </div>
        <div class="col-12 col-md-6">
            <label for="input3">
                <span>Email</span>
                <input type="text" name="" id="input3">
            </label>
        </div>
        <div class="col-12 col-md-6">
            <label for="input4">
                <span>Email</span>
                <input type="text" name="" id="input4">
            </label>
        </div>
        <div class="col-12 col-md-6">
            <label for="input5">
                <span>Email</span>
                <input type="text" name="" id="input5">
            </label>
        </div>
        <div class="col-12 col-md-6">
            <label for="input6">
                <span>Email</span>
                <input type="text" name="" id="input6">
            </label>
        </div>
    </div>
    <div class="text-center">
        <button class="_green_button">Submit</button>
    </div>
  </form>
</div>
</section>
<div style="display: none;">
    @@include("templates/footer.html")
</div>
