@@include("templates/header.html")
<section id="verification">
	<div class="wrapper container">
		<form>
			<h1 class="_title _blue_title">Verification</h1>
			<span class="_description"
				>A 6 digit verification code sent to youremail adrress:
				P***@mailinator.co m</span
			>
			<div class="d-flex align-items-center justify-content-center flex-column">
				<span class="_ver_code">Verification code</span>
				<div class="pin-container">
					<input
						type="text"
            class="pin-input"
            id="digit1"
						pattern="[0-9]"
						maxlength="1"
						oninput="handleInput(this, 1)"
						onkeydown="handleKeyDown(event, 0)"
					/>
					<input
						type="text"
            class="pin-input"
            id="digit2"
						pattern="[0-9]"
						maxlength="1"
						oninput="handleInput(this, 2)"
						onkeydown="handleKeyDown(event, 1)"
					/>
					<input
						type="text"
            class="pin-input"
            id="digit3"
						pattern="[0-9]"
						maxlength="1"
						oninput="handleInput(this, 3)"
						onkeydown="handleKeyDown(event, 2)"
					/>
					<input
						type="text"
            class="pin-input"
            id="digit4"
						pattern="[0-9]"
						maxlength="1"
						oninput="handleInput(this, 4)"
						onkeydown="handleKeyDown(event, 3)"
					/>
					<input
						type="text"
            class="pin-input"
            id="digit5"
						pattern="[0-9]"
						maxlength="1"
						oninput="handleInput(this, 5)"
						onkeydown="handleKeyDown(event, 4)"
					/>
					<input
						type="text"
            class="pin-input"
            id="digit6"
						pattern="[0-9]"
						maxlength="1"
						oninput="handleInput(this, 6)"
						onkeydown="handleKeyDown(event, 5)"
					/>
				</div>
			</div>
			<div class="text-center">
				<button class="_green_button">Submit</button>
			</div>
			<div class="text-center">
				<span class="_short_text"> If you don't get any code, </span>
				<span class="_ver_code">Try again</span>
			</div>
		</form>
	</div>
</section>
<div style="display: none">@@include("templates/footer.html")</div>
